/* Border Color Alias Utilities */

@utility border-color-default {
  border-color: var(--color-border-default);
}

@utility border-color-default-alpha {
  border-color: var(--color-border-default-alpha);
}

@utility border-color-active {
  border-color: var(--color-border-active);
}

@utility border-color-disabled {
  border-color: var(--color-border-disabled);
}

@utility border-color-warning {
  border-color: var(--color-border-warning);
}

@utility border-color-warning-active {
  border-color: var(--color-border-warning-active);
}

@utility border-color-success {
  border-color: var(--color-border-success);
}

@utility border-color-success-active {
  border-color: var(--color-border-success-active);
}

@utility border-color-error {
  border-color: var(--color-border-error);
}

@utility border-color-error-active {
  border-color: var(--color-border-error-active);
}

@utility border-color-information {
  border-color: var(--color-border-information);
}

@utility border-color-information-active {
  border-color: var(--color-border-information-active);
}

@utility border-color-primary {
  border-color: var(--color-border-primary);
}

@utility border-color-primary-active {
  border-color: var(--color-border-primary-active);
}
