/* Generated density-independent icon sizing. */

@utility size-icon-xs {
  width: var(--nx-icon-glyph-xs);
  height: var(--nx-icon-glyph-xs);
}

@utility size-icon-sm {
  width: var(--nx-icon-glyph-sm);
  height: var(--nx-icon-glyph-sm);
}

@utility size-icon-default {
  width: var(--nx-icon-glyph-default);
  height: var(--nx-icon-glyph-default);
}
