/* Typography Utilities */

@utility typography-heading-large {
  font-family: var(--nx-typography-family-font-sans);
  font-size: var(--nx-typography-size-3xl);
  font-weight: var(--nx-typography-weight-semibold);
  line-height: var(--nx-typography-line-height-3xl);
  letter-spacing: var(--nx-typography-letterspacing-normal);
}

@utility typography-heading-medium {
  font-family: var(--nx-typography-family-font-sans);
  font-size: var(--nx-typography-size-2xl);
  font-weight: var(--nx-typography-weight-semibold);
  line-height: var(--nx-typography-line-height-2xl);
  letter-spacing: var(--nx-typography-letterspacing-normal);
}

@utility typography-heading-small {
  font-family: var(--nx-typography-family-font-sans);
  font-size: var(--nx-typography-size-xl);
  font-weight: var(--nx-typography-weight-semibold);
  line-height: var(--nx-typography-line-height-xl);
  letter-spacing: var(--nx-typography-letterspacing-normal);
}

@utility typography-heading-xsmall {
  font-family: var(--nx-typography-family-font-sans);
  font-size: var(--nx-typography-size-lg);
  font-weight: var(--nx-typography-weight-semibold);
  line-height: var(--nx-typography-line-height-lg);
  letter-spacing: var(--nx-typography-letterspacing-normal);
}

@utility typography-body-default {
  font-family: var(--nx-typography-family-font-sans);
  font-size: var(--nx-typography-size-sm);
  font-weight: var(--nx-typography-weight-normal);
  line-height: var(--nx-typography-line-height-sm);
  letter-spacing: var(--nx-typography-letterspacing-normal);
  text-wrap: pretty;
}

@utility typography-body-small {
  font-family: var(--nx-typography-family-font-sans);
  font-size: var(--nx-typography-size-xs);
  font-weight: var(--nx-typography-weight-normal);
  line-height: var(--nx-typography-line-height-xs);
  letter-spacing: var(--nx-typography-letterspacing-normal);
  text-wrap: pretty;
}

@utility typography-label-default {
  font-family: var(--nx-typography-family-font-sans);
  font-size: var(--nx-typography-size-sm);
  font-weight: var(--nx-typography-weight-medium);
  line-height: var(--nx-typography-line-height-sm);
  letter-spacing: var(--nx-typography-letterspacing-normal);
}

@utility typography-label-small {
  font-family: var(--nx-typography-family-font-sans);
  font-size: var(--nx-typography-size-xs);
  font-weight: var(--nx-typography-weight-medium);
  line-height: var(--nx-typography-line-height-xs);
  letter-spacing: var(--nx-typography-letterspacing-normal);
}

@utility typography-label-caps {
  font-family: var(--nx-typography-family-font-sans);
  font-size: var(--nx-typography-size-xs);
  font-weight: var(--nx-typography-weight-semibold);
  line-height: var(--nx-typography-line-height-xs);
  letter-spacing: var(--nx-typography-letterspacing-wider);
}

@utility typography-code-block {
  font-family: var(--nx-typography-family-font-mono);
  font-size: var(--nx-typography-size-sm);
  font-weight: var(--nx-typography-weight-normal);
  line-height: var(--nx-typography-line-height-sm);
  letter-spacing: 0px;
}

@utility typography-code-inline {
  font-family: var(--nx-typography-family-font-mono);
  font-size: var(--nx-typography-size-sm);
  font-weight: var(--nx-typography-weight-semibold);
  line-height: normal;
  letter-spacing: 0px;
}
