/* base: zinc */

html {
  --nx-color-background: var(--nx-color-zinc-50);
  --nx-color-foreground: var(--nx-color-zinc-950);
  --nx-color-container: var(--nx-color-white);
  --nx-color-container-foreground: var(--nx-color-zinc-950);
  --nx-color-popover: var(--nx-color-white);
  --nx-color-popover-foreground: var(--nx-color-zinc-950);
  --nx-color-muted: var(--nx-color-zinc-100);
  --nx-color-muted-foreground: var(--nx-color-zinc-500);
  --nx-color-accent: var(--nx-color-zinc-100);
  --nx-color-accent-foreground: var(--nx-color-zinc-900);
  --nx-color-overlay: #1e1e1ecc;
  --nx-color-border-default: var(--nx-color-zinc-200);
  --nx-color-border-primary: var(--nx-color-zinc-950);
  --nx-color-border-warning: var(--nx-color-orange-200);
  --nx-color-border-success: var(--nx-color-green-200);
  --nx-color-border-error: var(--nx-color-red-200);
  --nx-color-border-information: var(--nx-color-blue-200);
  --nx-color-error-background: var(--nx-color-red-500);
  --nx-color-error-foreground: var(--nx-color-white);
  --nx-color-error-hover: var(--nx-color-red-600);
  --nx-color-error-active: var(--nx-color-red-700);
  --nx-color-error-disabled: var(--nx-color-red-300);
  --nx-color-error-text: var(--nx-color-red-600);
  --nx-color-error-surface: var(--nx-color-red-50);
  --nx-color-success-background: var(--nx-color-green-500);
  --nx-color-success-foreground: var(--nx-color-white);
  --nx-color-success-hover: var(--nx-color-green-600);
  --nx-color-success-active: var(--nx-color-green-700);
  --nx-color-success-disabled: var(--nx-color-green-300);
  --nx-color-success-text: var(--nx-color-green-800);
  --nx-color-success-surface: var(--nx-color-green-50);
  --nx-color-information-background: var(--nx-color-blue-500);
  --nx-color-information-foreground: var(--nx-color-white);
  --nx-color-information-hover: var(--nx-color-blue-600);
  --nx-color-information-active: var(--nx-color-blue-700);
  --nx-color-information-disabled: var(--nx-color-blue-300);
  --nx-color-information-text: var(--nx-color-blue-600);
  --nx-color-information-surface: var(--nx-color-blue-50);
  --nx-color-warning-background: var(--nx-color-orange-500);
  --nx-color-warning-foreground: var(--nx-color-white);
  --nx-color-warning-hover: var(--nx-color-orange-600);
  --nx-color-warning-active: var(--nx-color-orange-700);
  --nx-color-warning-disabled: var(--nx-color-orange-300);
  --nx-color-warning-text: var(--nx-color-orange-600);
  --nx-color-warning-surface: var(--nx-color-orange-50);
}

html.dark {
  --nx-color-background: var(--nx-color-zinc-900);
  --nx-color-foreground: var(--nx-color-white);
  --nx-color-container: var(--nx-color-zinc-900);
  --nx-color-container-foreground: var(--nx-color-white);
  --nx-color-popover: var(--nx-color-zinc-900);
  --nx-color-popover-foreground: var(--nx-color-white);
  --nx-color-muted: var(--nx-color-zinc-900);
  --nx-color-muted-foreground: var(--nx-color-zinc-400);
  --nx-color-accent: var(--nx-color-zinc-800);
  --nx-color-accent-foreground: var(--nx-color-zinc-50);
  --nx-color-overlay: #000000cc;
  --nx-color-border-default: var(--nx-color-zinc-800);
  --nx-color-border-primary: var(--nx-color-zinc-950);
  --nx-color-border-warning: var(--nx-color-orange-800);
  --nx-color-border-success: var(--nx-color-green-800);
  --nx-color-border-error: var(--nx-color-red-800);
  --nx-color-border-information: var(--nx-color-blue-800);
  --nx-color-error-background: var(--nx-color-red-600);
  --nx-color-error-foreground: var(--nx-color-white);
  --nx-color-error-hover: var(--nx-color-red-700);
  --nx-color-error-active: var(--nx-color-red-800);
  --nx-color-error-disabled: var(--nx-color-red-900);
  --nx-color-error-text: var(--nx-color-red-400);
  --nx-color-error-surface: var(--nx-color-red-950);
  --nx-color-success-background: var(--nx-color-green-500);
  --nx-color-success-foreground: var(--nx-color-white);
  --nx-color-success-hover: var(--nx-color-green-700);
  --nx-color-success-active: var(--nx-color-green-800);
  --nx-color-success-disabled: var(--nx-color-green-900);
  --nx-color-success-text: var(--nx-color-green-400);
  --nx-color-success-surface: var(--nx-color-green-950);
  --nx-color-information-background: var(--nx-color-blue-600);
  --nx-color-information-foreground: var(--nx-color-white);
  --nx-color-information-hover: var(--nx-color-blue-700);
  --nx-color-information-active: var(--nx-color-blue-800);
  --nx-color-information-disabled: var(--nx-color-blue-900);
  --nx-color-information-text: var(--nx-color-blue-400);
  --nx-color-information-surface: var(--nx-color-blue-950);
  --nx-color-warning-background: var(--nx-color-orange-600);
  --nx-color-warning-foreground: var(--nx-color-white);
  --nx-color-warning-hover: var(--nx-color-orange-700);
  --nx-color-warning-active: var(--nx-color-orange-800);
  --nx-color-warning-disabled: var(--nx-color-orange-500);
  --nx-color-warning-text: var(--nx-color-orange-400);
  --nx-color-warning-surface: var(--nx-color-orange-950);
}
