/* base: slate */

html {
  --nx-color-background: var(--nx-color-slate-50);
  --nx-color-foreground: var(--nx-color-slate-950);
  --nx-color-background-hover: var(--nx-color-slate-100);
  --nx-color-background-active: var(--nx-color-slate-200);
  --nx-color-muted: var(--nx-color-slate-100);
  --nx-color-muted-foreground: var(--nx-color-slate-500);
  --nx-color-muted-light: var(--nx-color-slate-50);
  --nx-color-muted-light-foreground: var(--nx-color-slate-400);
  --nx-color-disabled: var(--nx-color-slate-100);
  --nx-color-disabled-foreground: var(--nx-color-slate-400);
  --nx-color-container: var(--nx-color-white);
  --nx-color-container-foreground: var(--nx-color-slate-900);
  --nx-color-container-hover: var(--nx-color-slate-100);
  --nx-color-container-active: var(--nx-color-slate-200);
  --nx-color-popover: var(--nx-color-white);
  --nx-color-popover-foreground: var(--nx-color-slate-900);
  --nx-color-popover-hover: var(--nx-color-slate-50);
  --nx-color-popover-active: var(--nx-color-slate-100);
  --nx-color-overlay: oklch(0.235 0 0 / 0.8);
  --nx-color-border-default: var(--nx-color-slate-200);
  --nx-color-border-active: var(--nx-color-slate-400);
  --nx-color-border-disabled: var(--nx-color-slate-100);
  --nx-color-border-primary: var(--nx-color-blue-200);
  --nx-color-border-primary-active: var(--nx-color-blue-400);
  --nx-color-border-warning: var(--nx-color-amber-200);
  --nx-color-border-warning-active: var(--nx-color-amber-400);
  --nx-color-border-success: var(--nx-color-green-200);
  --nx-color-border-success-active: var(--nx-color-green-400);
  --nx-color-border-error: var(--nx-color-red-200);
  --nx-color-border-error-active: var(--nx-color-red-400);
  --nx-color-border-information: var(--nx-color-blue-200);
  --nx-color-border-information-active: var(--nx-color-blue-400);
  --nx-color-error-background: var(--nx-color-red-600);
  --nx-color-error-foreground: var(--nx-color-white);
  --nx-color-error-background-hover: var(--nx-color-red-700);
  --nx-color-error-background-active: var(--nx-color-red-800);
  --nx-color-error-disabled: var(--nx-color-red-300);
  --nx-color-error-subtle: var(--nx-color-red-50);
  --nx-color-error-subtle-foreground: var(--nx-color-red-700);
  --nx-color-error-subtle-hover: var(--nx-color-red-100);
  --nx-color-error-subtle-active: var(--nx-color-red-200);
  --nx-color-success-background: var(--nx-color-green-600);
  --nx-color-success-foreground: var(--nx-color-white);
  --nx-color-success-background-hover: var(--nx-color-green-700);
  --nx-color-success-background-active: var(--nx-color-green-800);
  --nx-color-success-disabled: var(--nx-color-green-300);
  --nx-color-success-subtle: var(--nx-color-green-50);
  --nx-color-success-subtle-foreground: var(--nx-color-green-700);
  --nx-color-success-subtle-hover: var(--nx-color-green-100);
  --nx-color-success-subtle-active: var(--nx-color-green-200);
  --nx-color-information-background: var(--nx-color-blue-600);
  --nx-color-information-foreground: var(--nx-color-white);
  --nx-color-information-background-hover: var(--nx-color-blue-700);
  --nx-color-information-background-active: var(--nx-color-blue-800);
  --nx-color-information-disabled: var(--nx-color-blue-300);
  --nx-color-information-subtle: var(--nx-color-blue-50);
  --nx-color-information-subtle-foreground: var(--nx-color-blue-600);
  --nx-color-information-subtle-hover: var(--nx-color-blue-100);
  --nx-color-information-subtle-active: var(--nx-color-blue-200);
  --nx-color-warning-background: var(--nx-color-amber-600);
  --nx-color-warning-foreground: var(--nx-color-white);
  --nx-color-warning-background-hover: var(--nx-color-amber-700);
  --nx-color-warning-background-active: var(--nx-color-amber-800);
  --nx-color-warning-disabled: var(--nx-color-amber-300);
  --nx-color-warning-subtle: var(--nx-color-amber-50);
  --nx-color-warning-subtle-foreground: var(--nx-color-amber-700);
  --nx-color-warning-subtle-hover: var(--nx-color-amber-100);
  --nx-color-warning-subtle-active: var(--nx-color-amber-200);
}

html.dark {
  --nx-color-background: var(--nx-color-slate-900);
  --nx-color-foreground: var(--nx-color-white);
  --nx-color-background-hover: var(--nx-color-slate-800);
  --nx-color-background-active: var(--nx-color-slate-950);
  --nx-color-muted: var(--nx-color-slate-800);
  --nx-color-muted-foreground: var(--nx-color-slate-300);
  --nx-color-muted-light: var(--nx-color-slate-800);
  --nx-color-muted-light-foreground: var(--nx-color-slate-300);
  --nx-color-disabled: var(--nx-color-slate-950);
  --nx-color-disabled-foreground: var(--nx-color-slate-300);
  --nx-color-container: var(--nx-color-black);
  --nx-color-container-foreground: var(--nx-color-white);
  --nx-color-container-hover: var(--nx-color-slate-950);
  --nx-color-container-active: var(--nx-color-slate-900);
  --nx-color-popover: var(--nx-color-slate-800);
  --nx-color-popover-foreground: var(--nx-color-white);
  --nx-color-popover-hover: var(--nx-color-slate-700);
  --nx-color-popover-active: var(--nx-color-slate-900);
  --nx-color-overlay: oklch(0 0 0 / 0.8);
  --nx-color-border-default: var(--nx-color-slate-700);
  --nx-color-border-active: var(--nx-color-slate-400);
  --nx-color-border-disabled: var(--nx-color-slate-950);
  --nx-color-border-primary: var(--nx-color-blue-700);
  --nx-color-border-primary-active: var(--nx-color-blue-500);
  --nx-color-border-warning: var(--nx-color-amber-700);
  --nx-color-border-warning-active: var(--nx-color-amber-500);
  --nx-color-border-success: var(--nx-color-green-700);
  --nx-color-border-success-active: var(--nx-color-green-500);
  --nx-color-border-error: var(--nx-color-red-700);
  --nx-color-border-error-active: var(--nx-color-red-500);
  --nx-color-border-information: var(--nx-color-blue-700);
  --nx-color-border-information-active: var(--nx-color-blue-500);
  --nx-color-error-background: var(--nx-color-red-600);
  --nx-color-error-foreground: var(--nx-color-white);
  --nx-color-error-background-hover: var(--nx-color-red-700);
  --nx-color-error-background-active: var(--nx-color-red-800);
  --nx-color-error-disabled: var(--nx-color-red-900);
  --nx-color-error-subtle: var(--nx-color-red-950);
  --nx-color-error-subtle-foreground: var(--nx-color-red-300);
  --nx-color-error-subtle-hover: var(--nx-color-red-900);
  --nx-color-error-subtle-active: var(--nx-color-red-800);
  --nx-color-success-background: var(--nx-color-green-600);
  --nx-color-success-foreground: var(--nx-color-white);
  --nx-color-success-background-hover: var(--nx-color-green-700);
  --nx-color-success-background-active: var(--nx-color-green-800);
  --nx-color-success-disabled: var(--nx-color-green-900);
  --nx-color-success-subtle: var(--nx-color-green-950);
  --nx-color-success-subtle-foreground: var(--nx-color-green-300);
  --nx-color-success-subtle-hover: var(--nx-color-green-900);
  --nx-color-success-subtle-active: var(--nx-color-green-800);
  --nx-color-information-background: var(--nx-color-blue-600);
  --nx-color-information-foreground: var(--nx-color-white);
  --nx-color-information-background-hover: var(--nx-color-blue-700);
  --nx-color-information-background-active: var(--nx-color-blue-800);
  --nx-color-information-disabled: var(--nx-color-blue-900);
  --nx-color-information-subtle: var(--nx-color-blue-950);
  --nx-color-information-subtle-foreground: var(--nx-color-blue-300);
  --nx-color-information-subtle-hover: var(--nx-color-blue-900);
  --nx-color-information-subtle-active: var(--nx-color-blue-800);
  --nx-color-warning-background: var(--nx-color-amber-600);
  --nx-color-warning-foreground: var(--nx-color-white);
  --nx-color-warning-background-hover: var(--nx-color-amber-700);
  --nx-color-warning-background-active: var(--nx-color-amber-800);
  --nx-color-warning-disabled: var(--nx-color-amber-900);
  --nx-color-warning-subtle: var(--nx-color-amber-950);
  --nx-color-warning-subtle-foreground: var(--nx-color-amber-300);
  --nx-color-warning-subtle-hover: var(--nx-color-amber-900);
  --nx-color-warning-subtle-active: var(--nx-color-amber-800);
}
