/* base: slate */

html {
  --color-background: var(--color-slate-50);
  --color-foreground: var(--color-slate-900);
  --color-container: var(--color-white);
  --color-container-foreground: var(--color-slate-900);
  --color-popover: var(--color-slate-50);
  --color-popover-foreground: var(--color-slate-900);
  --color-muted: var(--color-slate-100);
  --color-muted-foreground: var(--color-slate-500);
  --color-accent: var(--color-slate-100);
  --color-accent-foreground: var(--color-slate-900);
  --color-overlay: #1e1e1ecc;
  --color-border-default: var(--color-slate-200);
  --color-border-primary: var(--color-slate-950);
  --color-border-warning: var(--color-orange-200);
  --color-border-success: var(--color-green-200);
  --color-border-error: var(--color-red-200);
  --color-border-information: var(--color-blue-200);
  --color-error-background: var(--color-red-500);
  --color-error-foreground: var(--color-white);
  --color-error-hover: var(--color-red-600);
  --color-error-active: var(--color-red-700);
  --color-error-disabled: var(--color-red-300);
  --color-error-text: var(--color-red-600);
  --color-error-surface: var(--color-red-50);
  --color-success-background: var(--color-green-500);
  --color-success-foreground: var(--color-white);
  --color-success-hover: var(--color-green-700);
  --color-success-active: var(--color-green-800);
  --color-success-disabled: var(--color-green-300);
  --color-success-text: var(--color-green-800);
  --color-success-surface: var(--color-green-50);
  --color-information-background: var(--color-blue-500);
  --color-information-foreground: var(--color-white);
  --color-information-hover: var(--color-blue-600);
  --color-information-active: var(--color-blue-700);
  --color-information-disabled: var(--color-blue-300);
  --color-information-text: var(--color-blue-600);
  --color-information-surface: var(--color-blue-50);
  --color-warning-background: var(--color-orange-500);
  --color-warning-foreground: var(--color-white);
  --color-warning-hover: var(--color-orange-600);
  --color-warning-active: var(--color-orange-700);
  --color-warning-disabled: var(--color-orange-300);
  --color-warning-text: var(--color-orange-600);
  --color-warning-surface: var(--color-orange-50);
}

html.dark {
  --color-background: var(--color-slate-900);
  --color-foreground: var(--color-white);
  --color-container: var(--color-slate-900);
  --color-container-foreground: var(--color-white);
  --color-popover: var(--color-slate-900);
  --color-popover-foreground: var(--color-white);
  --color-muted: var(--color-slate-900);
  --color-muted-foreground: var(--color-slate-400);
  --color-accent: var(--color-slate-800);
  --color-accent-foreground: var(--color-slate-50);
  --color-overlay: #000000cc;
  --color-border-default: var(--color-slate-800);
  --color-border-primary: var(--color-slate-950);
  --color-border-warning: var(--color-orange-800);
  --color-border-success: var(--color-green-800);
  --color-border-error: var(--color-red-800);
  --color-border-information: var(--color-blue-800);
  --color-error-background: var(--color-red-600);
  --color-error-foreground: var(--color-white);
  --color-error-hover: var(--color-red-700);
  --color-error-active: var(--color-red-800);
  --color-error-disabled: var(--color-red-900);
  --color-error-text: var(--color-red-400);
  --color-error-surface: var(--color-red-950);
  --color-success-background: var(--color-green-500);
  --color-success-foreground: var(--color-white);
  --color-success-hover: var(--color-green-700);
  --color-success-active: var(--color-green-800);
  --color-success-disabled: var(--color-green-900);
  --color-success-text: var(--color-green-400);
  --color-success-surface: var(--color-green-950);
  --color-information-background: var(--color-blue-600);
  --color-information-foreground: var(--color-white);
  --color-information-hover: var(--color-blue-700);
  --color-information-active: var(--color-blue-800);
  --color-information-disabled: var(--color-blue-900);
  --color-information-text: var(--color-blue-400);
  --color-information-surface: var(--color-blue-950);
  --color-warning-background: var(--color-orange-600);
  --color-warning-foreground: var(--color-white);
  --color-warning-hover: var(--color-orange-700);
  --color-warning-active: var(--color-orange-800);
  --color-warning-disabled: var(--color-orange-500);
  --color-warning-text: var(--color-orange-400);
  --color-warning-surface: var(--color-orange-950);
}
