/* Base: zinc */

html {
  --color-background: var(--white);
  --color-foreground: var(--zinc-950);
  --color-container: var(--white);
  --color-container-foreground: var(--zinc-950);
  --color-popover: var(--white);
  --color-popover-foreground: var(--zinc-950);
  --color-muted: var(--zinc-100);
  --color-muted-foreground: var(--zinc-500);
  --color-accent: var(--zinc-100);
  --color-accent-foreground: var(--zinc-900);
  --color-overlay: #1e1e1ecc;
  --color-border-default: var(--zinc-200);
  --color-border-primary: var(--zinc-950);
  --color-border-warning: var(--orange-200);
  --color-border-success: var(--green-200);
  --color-border-error: var(--red-200);
  --color-border-information: var(--blue-200);
  --color-error-background: var(--red-500);
  --color-error-foreground: var(--neutral-50);
  --color-error-hover: var(--red-500);
  --color-error-active: var(--red-500);
  --color-error-disabled: var(--red-500);
  --color-error-text: var(--red-500);
  --color-error-surface: var(--red-500);
  --color-success-background: var(--green-500);
  --color-success-foreground: var(--neutral-50);
  --color-success-hover: var(--green-500);
  --color-success-active: var(--green-500);
  --color-success-disabled: var(--green-500);
  --color-success-text: var(--green-500);
  --color-success-surface: var(--green-500);
  --color-information-background: var(--blue-500);
  --color-information-foreground: var(--neutral-50);
  --color-information-hover: var(--blue-500);
  --color-information-active: var(--blue-500);
  --color-information-disabled: var(--blue-500);
  --color-information-text: var(--blue-500);
  --color-information-surface: var(--blue-500);
  --color-warning-background: var(--orange-500);
  --color-warning-foreground: var(--neutral-50);
  --color-warning-hover: var(--orange-500);
  --color-warning-active: var(--orange-500);
  --color-warning-disabled: var(--orange-500);
  --color-warning-text: var(--orange-500);
  --color-warning-surface: var(--orange-500);
}

html.dark {
  --color-background: var(--white);
  --color-foreground: var(--zinc-950);
  --color-container: var(--white);
  --color-container-foreground: var(--zinc-950);
  --color-popover: var(--white);
  --color-popover-foreground: var(--zinc-950);
  --color-muted: var(--zinc-100);
  --color-muted-foreground: var(--zinc-500);
  --color-accent: var(--zinc-100);
  --color-accent-foreground: var(--zinc-900);
  --color-overlay: #1e1e1ecc;
  --color-border-default: var(--zinc-200);
  --color-border-primary: var(--zinc-950);
  --color-border-warning: var(--orange-200);
  --color-border-success: var(--green-200);
  --color-border-error: var(--red-200);
  --color-border-information: var(--blue-200);
  --color-error-background: var(--red-500);
  --color-error-foreground: var(--neutral-50);
  --color-error-hover: var(--red-500);
  --color-error-active: var(--red-500);
  --color-error-disabled: var(--red-500);
  --color-error-text: var(--red-500);
  --color-error-surface: var(--red-500);
  --color-success-background: var(--green-500);
  --color-success-foreground: var(--neutral-50);
  --color-success-hover: var(--green-500);
  --color-success-active: var(--green-500);
  --color-success-disabled: var(--green-500);
  --color-success-text: var(--green-500);
  --color-success-surface: var(--green-500);
  --color-information-background: var(--blue-500);
  --color-information-foreground: var(--neutral-50);
  --color-information-hover: var(--blue-500);
  --color-information-active: var(--blue-500);
  --color-information-disabled: var(--blue-500);
  --color-information-text: var(--blue-500);
  --color-information-surface: var(--blue-500);
  --color-warning-background: var(--orange-500);
  --color-warning-foreground: var(--neutral-50);
  --color-warning-hover: var(--orange-500);
  --color-warning-active: var(--orange-500);
  --color-warning-disabled: var(--orange-500);
  --color-warning-text: var(--orange-500);
  --color-warning-surface: var(--orange-500);
}
