/* brands: neutral */

html {
  --nx-color-primary-background: var(--nx-color-neutral-900);
  --nx-color-primary-foreground: var(--nx-color-white);
  --nx-color-primary-hover: var(--nx-color-neutral-800);
  --nx-color-primary-active: var(--nx-color-neutral-700);
  --nx-color-primary-disabled: var(--nx-color-neutral-300);
  --nx-color-primary-text: var(--nx-color-neutral-900);
  --nx-color-primary-surface: var(--nx-color-neutral-50);
  --nx-color-secondary-background: var(--nx-color-neutral-100);
  --nx-color-secondary-foreground: var(--nx-color-slate-900);
  --nx-color-secondary-hover: var(--nx-color-neutral-200);
  --nx-color-secondary-active: var(--nx-color-neutral-300);
  --nx-color-secondary-disabled: var(--nx-color-neutral-50);
  --nx-color-secondary-text: var(--nx-color-neutral-600);
  --nx-color-secondary-surface: var(--nx-color-neutral-100);
}

html.dark {
  --nx-color-primary-background: var(--nx-color-neutral-900);
  --nx-color-primary-foreground: var(--nx-color-white);
  --nx-color-primary-hover: var(--nx-color-neutral-100);
  --nx-color-primary-active: var(--nx-color-neutral-200);
  --nx-color-primary-disabled: var(--nx-color-neutral-800);
  --nx-color-primary-text: var(--nx-color-neutral-50);
  --nx-color-primary-surface: var(--nx-color-neutral-950);
  --nx-color-secondary-background: var(--nx-color-neutral-100);
  --nx-color-secondary-foreground: var(--nx-color-slate-50);
  --nx-color-secondary-hover: var(--nx-color-neutral-700);
  --nx-color-secondary-active: var(--nx-color-neutral-600);
  --nx-color-secondary-disabled: var(--nx-color-neutral-900);
  --nx-color-secondary-text: var(--nx-color-neutral-400);
  --nx-color-secondary-surface: var(--nx-color-neutral-800);
}
