/* Brand: slate */

html {
  --color-primary-background: var(--slate-900);
  --color-primary-foreground: var(--slate-50);
  --color-primary-hover: var(--slate-50);
  --color-primary-active: var(--slate-50);
  --color-primary-disabled: var(--slate-50);
  --color-primary-text: var(--slate-900);
  --color-primary-surface: var(--slate-900);
  --color-secondary-background: var(--slate-100);
  --color-secondary-foreground: var(--slate-900);
  --color-secondary-hover: var(--slate-100);
  --color-secondary-active: var(--slate-100);
  --color-secondary-disabled: var(--slate-100);
  --color-secondary-text: var(--slate-100);
  --color-secondary-surface: var(--slate-100);
}

html.dark {
  --color-primary-background: var(--slate-900);
  --color-primary-foreground: var(--slate-50);
  --color-primary-hover: var(--slate-50);
  --color-primary-active: var(--slate-50);
  --color-primary-disabled: var(--slate-50);
  --color-primary-text: var(--slate-900);
  --color-primary-surface: var(--slate-900);
  --color-secondary-background: var(--slate-100);
  --color-secondary-foreground: var(--slate-900);
  --color-secondary-hover: var(--slate-100);
  --color-secondary-active: var(--slate-100);
  --color-secondary-disabled: var(--slate-100);
  --color-secondary-text: var(--slate-100);
  --color-secondary-surface: var(--slate-100);
}
