/* brands: slate */

html {
  --nx-color-primary-background: var(--nx-color-slate-900);
  --nx-color-primary-foreground: var(--nx-color-white);
  --nx-color-primary-hover: var(--nx-color-slate-800);
  --nx-color-primary-active: var(--nx-color-slate-700);
  --nx-color-primary-disabled: var(--nx-color-slate-300);
  --nx-color-primary-text: var(--nx-color-slate-900);
  --nx-color-primary-surface: var(--nx-color-slate-50);
  --nx-color-secondary-background: var(--nx-color-slate-100);
  --nx-color-secondary-foreground: var(--nx-color-slate-900);
  --nx-color-secondary-hover: var(--nx-color-slate-200);
  --nx-color-secondary-active: var(--nx-color-slate-300);
  --nx-color-secondary-disabled: var(--nx-color-slate-50);
  --nx-color-secondary-text: var(--nx-color-slate-600);
  --nx-color-secondary-surface: var(--nx-color-slate-100);
}

html.dark {
  --nx-color-primary-background: var(--nx-color-slate-900);
  --nx-color-primary-foreground: var(--nx-color-white);
  --nx-color-primary-hover: var(--nx-color-slate-100);
  --nx-color-primary-active: var(--nx-color-slate-200);
  --nx-color-primary-disabled: var(--nx-color-slate-800);
  --nx-color-primary-text: var(--nx-color-slate-50);
  --nx-color-primary-surface: var(--nx-color-slate-950);
  --nx-color-secondary-background: var(--nx-color-slate-100);
  --nx-color-secondary-foreground: var(--nx-color-slate-900);
  --nx-color-secondary-hover: var(--nx-color-slate-700);
  --nx-color-secondary-active: var(--nx-color-slate-600);
  --nx-color-secondary-disabled: var(--nx-color-slate-50);
  --nx-color-secondary-text: var(--nx-color-slate-600);
  --nx-color-secondary-surface: var(--nx-color-slate-100);
}
