/* Brand: gray */

html {
  --color-primary-background: var(--gray-900);
  --color-primary-foreground: var(--gray-50);
  --color-primary-hover: var(--gray-50);
  --color-primary-active: var(--gray-50);
  --color-primary-disabled: var(--gray-50);
  --color-primary-text: var(--gray-900);
  --color-primary-surface: var(--gray-900);
  --color-secondary-background: var(--gray-100);
  --color-secondary-foreground: var(--gray-900);
  --color-secondary-hover: var(--gray-100);
  --color-secondary-active: var(--gray-100);
  --color-secondary-disabled: var(--gray-100);
  --color-secondary-text: var(--gray-100);
  --color-secondary-surface: var(--gray-100);
}

html.dark {
  --color-primary-background: var(--gray-900);
  --color-primary-foreground: var(--gray-50);
  --color-primary-hover: var(--gray-50);
  --color-primary-active: var(--gray-50);
  --color-primary-disabled: var(--gray-50);
  --color-primary-text: var(--gray-900);
  --color-primary-surface: var(--gray-900);
  --color-secondary-background: var(--gray-100);
  --color-secondary-foreground: var(--gray-900);
  --color-secondary-hover: var(--gray-100);
  --color-secondary-active: var(--gray-100);
  --color-secondary-disabled: var(--gray-100);
  --color-secondary-text: var(--gray-100);
  --color-secondary-surface: var(--gray-100);
}
