/* chart: default */

html {
  --nx-color-chart-1: var(--nx-color-teal-600);
  --nx-color-chart-2: var(--nx-color-lime-700);
  --nx-color-chart-3: var(--nx-color-orange-600);
  --nx-color-chart-4: var(--nx-color-rose-600);
  --nx-color-chart-5: var(--nx-color-indigo-600);
}

html.dark {
  --nx-color-chart-1: var(--nx-color-teal-300);
  --nx-color-chart-2: var(--nx-color-lime-300);
  --nx-color-chart-3: var(--nx-color-orange-200);
  --nx-color-chart-4: var(--nx-color-rose-200);
  --nx-color-chart-5: var(--nx-color-indigo-200);
}
