/* color primitives */

:root {
  --nx-color-green-50: oklch(0.985 0.0118 145.484);
  --nx-color-green-100: oklch(0.945 0.0248 143.497);
  --nx-color-green-200: oklch(0.87 0.0447 145.187);
  --nx-color-green-300: oklch(0.765 0.0701 144.884);
  --nx-color-green-400: oklch(0.66 0.1001 144.836);
  --nx-color-green-500: oklch(0.553 0.1349 144.945);
  --nx-color-green-600: oklch(0.46 0.1195 144.955);
  --nx-color-green-700: oklch(0.385 0.1107 144.847);
  --nx-color-green-800: oklch(0.297 0.0889 145.096);
  --nx-color-green-900: oklch(0.207 0.0698 144.831);
  --nx-color-green-950: oklch(0.118 0.0489 145.637);
  --nx-color-green-a50: oklch(0.239 0.0489 145.637 / 0.0392);
  --nx-color-green-a100: oklch(0.239 0.0489 145.637 / 0.0627);
  --nx-color-green-a200: oklch(0.239 0.0489 145.637 / 0.0941);
  --nx-color-green-a300: oklch(0.239 0.0489 145.637 / 0.1882);
  --nx-color-green-a400: oklch(0.239 0.0489 145.637 / 0.3137);
  --nx-color-green-a500: oklch(0.239 0.0489 145.637 / 0.502);
  --nx-color-green-a600: oklch(0.239 0.0489 145.637 / 0.6275);
  --nx-color-green-a700: oklch(0.239 0.0489 145.637 / 0.7529);
  --nx-color-green-a800: oklch(0.239 0.0489 145.637 / 0.8471);
  --nx-color-green-a900: oklch(0.239 0.0489 145.637 / 0.9098);
  --nx-color-green-a950: oklch(0.239 0.0489 145.637 / 0.9569);
  --nx-color-emerald-50: oklch(0.985 0.0207 166.113);
  --nx-color-emerald-100: oklch(0.945 0.0507 163.051);
  --nx-color-emerald-200: oklch(0.87 0.0895 164.15);
  --nx-color-emerald-300: oklch(0.765 0.1299 164.978);
  --nx-color-emerald-400: oklch(0.66 0.1535 163.223);
  --nx-color-emerald-500: oklch(0.553 0.1491 162.48);
  --nx-color-emerald-600: oklch(0.46 0.1274 163.225);
  --nx-color-emerald-700: oklch(0.385 0.1049 165.612);
  --nx-color-emerald-800: oklch(0.297 0.0833 166.913);
  --nx-color-emerald-900: oklch(0.207 0.0566 168.94);
  --nx-color-emerald-950: oklch(0.118 0.031 172.552);
  --nx-color-emerald-a50: oklch(0.2621 0.0487 172.552 / 0.0392);
  --nx-color-emerald-a100: oklch(0.2621 0.0487 172.552 / 0.0627);
  --nx-color-emerald-a200: oklch(0.2621 0.0487 172.552 / 0.0941);
  --nx-color-emerald-a300: oklch(0.2621 0.0487 172.552 / 0.1882);
  --nx-color-emerald-a400: oklch(0.2621 0.0487 172.552 / 0.3137);
  --nx-color-emerald-a500: oklch(0.2621 0.0487 172.552 / 0.502);
  --nx-color-emerald-a600: oklch(0.2621 0.0487 172.552 / 0.6275);
  --nx-color-emerald-a700: oklch(0.2621 0.0487 172.552 / 0.7529);
  --nx-color-emerald-a800: oklch(0.2621 0.0487 172.552 / 0.8471);
  --nx-color-emerald-a900: oklch(0.2621 0.0487 172.552 / 0.9098);
  --nx-color-emerald-a950: oklch(0.2621 0.0487 172.552 / 0.9569);
  --nx-color-teal-50: oklch(0.985 0.0142 180.72);
  --nx-color-teal-100: oklch(0.945 0.0498 180.801);
  --nx-color-teal-200: oklch(0.87 0.0927 180.426);
  --nx-color-teal-300: oklch(0.765 0.1251 181.071);
  --nx-color-teal-400: oklch(0.66 0.1325 181.912);
  --nx-color-teal-500: oklch(0.553 0.123 182.503);
  --nx-color-teal-600: oklch(0.46 0.1038 184.704);
  --nx-color-teal-700: oklch(0.385 0.0861 186.391);
  --nx-color-teal-800: oklch(0.297 0.0696 188.216);
  --nx-color-teal-900: oklch(0.207 0.0485 188.416);
  --nx-color-teal-950: oklch(0.118 0.0272 192.524);
  --nx-color-teal-a50: oklch(0.2773 0.0447 192.524 / 0.0392);
  --nx-color-teal-a100: oklch(0.2773 0.0447 192.524 / 0.0627);
  --nx-color-teal-a200: oklch(0.2773 0.0447 192.524 / 0.0941);
  --nx-color-teal-a300: oklch(0.2773 0.0447 192.524 / 0.1882);
  --nx-color-teal-a400: oklch(0.2773 0.0447 192.524 / 0.3137);
  --nx-color-teal-a500: oklch(0.2773 0.0447 192.524 / 0.502);
  --nx-color-teal-a600: oklch(0.2773 0.0447 192.524 / 0.6275);
  --nx-color-teal-a700: oklch(0.2773 0.0447 192.524 / 0.7529);
  --nx-color-teal-a800: oklch(0.2773 0.0447 192.524 / 0.8471);
  --nx-color-teal-a900: oklch(0.2773 0.0447 192.524 / 0.9098);
  --nx-color-teal-a950: oklch(0.2773 0.0447 192.524 / 0.9569);
  --nx-color-cyan-50: oklch(0.985 0.0189 200.873);
  --nx-color-cyan-100: oklch(0.945 0.0443 203.388);
  --nx-color-cyan-200: oklch(0.87 0.0772 205.041);
  --nx-color-cyan-300: oklch(0.765 0.1153 207.078);
  --nx-color-cyan-400: oklch(0.66 0.1339 211.53);
  --nx-color-cyan-500: oklch(0.553 0.1257 215.221);
  --nx-color-cyan-600: oklch(0.46 0.1109 221.723);
  --nx-color-cyan-700: oklch(0.385 0.0936 223.128);
  --nx-color-cyan-800: oklch(0.297 0.0739 224.283);
  --nx-color-cyan-900: oklch(0.207 0.0529 227.392);
  --nx-color-cyan-950: oklch(0.118 0.0309 229.695);
  --nx-color-cyan-a50: oklch(0.3018 0.0541 229.695 / 0.0392);
  --nx-color-cyan-a100: oklch(0.3018 0.0541 229.695 / 0.0627);
  --nx-color-cyan-a200: oklch(0.3018 0.0541 229.695 / 0.0941);
  --nx-color-cyan-a300: oklch(0.3018 0.0541 229.695 / 0.1882);
  --nx-color-cyan-a400: oklch(0.3018 0.0541 229.695 / 0.3137);
  --nx-color-cyan-a500: oklch(0.3018 0.0541 229.695 / 0.502);
  --nx-color-cyan-a600: oklch(0.3018 0.0541 229.695 / 0.6275);
  --nx-color-cyan-a700: oklch(0.3018 0.0541 229.695 / 0.7529);
  --nx-color-cyan-a800: oklch(0.3018 0.0541 229.695 / 0.8471);
  --nx-color-cyan-a900: oklch(0.3018 0.0541 229.695 / 0.9098);
  --nx-color-cyan-a950: oklch(0.3018 0.0541 229.695 / 0.9569);
  --nx-color-sky-50: oklch(0.985 0.0089 236.62);
  --nx-color-sky-100: oklch(0.945 0.025 236.824);
  --nx-color-sky-200: oklch(0.87 0.0555 230.902);
  --nx-color-sky-300: oklch(0.765 0.1013 230.318);
  --nx-color-sky-400: oklch(0.66 0.139 232.661);
  --nx-color-sky-500: oklch(0.553 0.1479 237.323);
  --nx-color-sky-600: oklch(0.46 0.1389 241.966);
  --nx-color-sky-700: oklch(0.385 0.1193 242.749);
  --nx-color-sky-800: oklch(0.297 0.09 240.79);
  --nx-color-sky-900: oklch(0.207 0.0628 240.876);
  --nx-color-sky-950: oklch(0.118 0.0373 243.157);
  --nx-color-sky-a50: oklch(0.2935 0.0632 243.157 / 0.0392);
  --nx-color-sky-a100: oklch(0.2935 0.0632 243.157 / 0.0627);
  --nx-color-sky-a200: oklch(0.2935 0.0632 243.157 / 0.0941);
  --nx-color-sky-a300: oklch(0.2935 0.0632 243.157 / 0.1882);
  --nx-color-sky-a400: oklch(0.2935 0.0632 243.157 / 0.3137);
  --nx-color-sky-a500: oklch(0.2935 0.0632 243.157 / 0.502);
  --nx-color-sky-a600: oklch(0.2935 0.0632 243.157 / 0.6275);
  --nx-color-sky-a700: oklch(0.2935 0.0632 243.157 / 0.7529);
  --nx-color-sky-a800: oklch(0.2935 0.0632 243.157 / 0.8471);
  --nx-color-sky-a900: oklch(0.2935 0.0632 243.157 / 0.9098);
  --nx-color-sky-a950: oklch(0.2935 0.0632 243.157 / 0.9569);
  --nx-color-indigo-50: oklch(0.985 0.0077 272.314);
  --nx-color-indigo-100: oklch(0.945 0.0288 272.788);
  --nx-color-indigo-200: oklch(0.87 0.0622 274.039);
  --nx-color-indigo-300: oklch(0.765 0.1041 274.713);
  --nx-color-indigo-400: oklch(0.66 0.1583 276.935);
  --nx-color-indigo-500: oklch(0.553 0.2041 277.117);
  --nx-color-indigo-600: oklch(0.46 0.2301 276.966);
  --nx-color-indigo-700: oklch(0.385 0.2146 277.023);
  --nx-color-indigo-800: oklch(0.297 0.1773 277.366);
  --nx-color-indigo-900: oklch(0.207 0.128 278.697);
  --nx-color-indigo-950: oklch(0.118 0.0718 281.288);
  --nx-color-indigo-a50: oklch(0.2573 0.0861 281.288 / 0.0392);
  --nx-color-indigo-a100: oklch(0.2573 0.0861 281.288 / 0.0627);
  --nx-color-indigo-a200: oklch(0.2573 0.0861 281.288 / 0.0941);
  --nx-color-indigo-a300: oklch(0.2573 0.0861 281.288 / 0.1882);
  --nx-color-indigo-a400: oklch(0.2573 0.0861 281.288 / 0.3137);
  --nx-color-indigo-a500: oklch(0.2573 0.0861 281.288 / 0.502);
  --nx-color-indigo-a600: oklch(0.2573 0.0861 281.288 / 0.6275);
  --nx-color-indigo-a700: oklch(0.2573 0.0861 281.288 / 0.7529);
  --nx-color-indigo-a800: oklch(0.2573 0.0861 281.288 / 0.8471);
  --nx-color-indigo-a900: oklch(0.2573 0.0861 281.288 / 0.9098);
  --nx-color-indigo-a950: oklch(0.2573 0.0861 281.288 / 0.9569);
  --nx-color-violet-50: oklch(0.985 0.0086 293.756);
  --nx-color-violet-100: oklch(0.945 0.0284 294.588);
  --nx-color-violet-200: oklch(0.87 0.0549 293.283);
  --nx-color-violet-300: oklch(0.765 0.1013 293.571);
  --nx-color-violet-400: oklch(0.66 0.1592 293.541);
  --nx-color-violet-500: oklch(0.553 0.2189 292.717);
  --nx-color-violet-600: oklch(0.46 0.2466 293.009);
  --nx-color-violet-700: oklch(0.385 0.2208 292.581);
  --nx-color-violet-800: oklch(0.297 0.1702 292.759);
  --nx-color-violet-900: oklch(0.207 0.1181 293.745);
  --nx-color-violet-950: oklch(0.118 0.0681 291.089);
  --nx-color-violet-a50: oklch(0.2827 0.1351 291.089 / 0.0392);
  --nx-color-violet-a100: oklch(0.2827 0.1351 291.089 / 0.0627);
  --nx-color-violet-a200: oklch(0.2827 0.1351 291.089 / 0.0941);
  --nx-color-violet-a300: oklch(0.2827 0.1351 291.089 / 0.1882);
  --nx-color-violet-a400: oklch(0.2827 0.1351 291.089 / 0.3137);
  --nx-color-violet-a500: oklch(0.2827 0.1351 291.089 / 0.502);
  --nx-color-violet-a600: oklch(0.2827 0.1351 291.089 / 0.6275);
  --nx-color-violet-a700: oklch(0.2827 0.1351 291.089 / 0.7529);
  --nx-color-violet-a800: oklch(0.2827 0.1351 291.089 / 0.8471);
  --nx-color-violet-a900: oklch(0.2827 0.1351 291.089 / 0.9098);
  --nx-color-violet-a950: oklch(0.2827 0.1351 291.089 / 0.9569);
  --nx-color-purple-50: oklch(0.985 0.0102 308.299);
  --nx-color-purple-100: oklch(0.945 0.0327 307.174);
  --nx-color-purple-200: oklch(0.87 0.0604 306.703);
  --nx-color-purple-300: oklch(0.765 0.1082 306.383);
  --nx-color-purple-400: oklch(0.66 0.1767 305.504);
  --nx-color-purple-500: oklch(0.553 0.2325 303.9);
  --nx-color-purple-600: oklch(0.46 0.2525 302.321);
  --nx-color-purple-700: oklch(0.385 0.2123 301.924);
  --nx-color-purple-800: oklch(0.297 0.1626 303.724);
  --nx-color-purple-900: oklch(0.207 0.1128 304.987);
  --nx-color-purple-950: oklch(0.118 0.0649 302.717);
  --nx-color-purple-a50: oklch(0.2905 0.1432 302.717 / 0.0392);
  --nx-color-purple-a100: oklch(0.2905 0.1432 302.717 / 0.0627);
  --nx-color-purple-a200: oklch(0.2905 0.1432 302.717 / 0.0941);
  --nx-color-purple-a300: oklch(0.2905 0.1432 302.717 / 0.1882);
  --nx-color-purple-a400: oklch(0.2905 0.1432 302.717 / 0.3137);
  --nx-color-purple-a500: oklch(0.2905 0.1432 302.717 / 0.502);
  --nx-color-purple-a600: oklch(0.2905 0.1432 302.717 / 0.6275);
  --nx-color-purple-a700: oklch(0.2905 0.1432 302.717 / 0.7529);
  --nx-color-purple-a800: oklch(0.2905 0.1432 302.717 / 0.8471);
  --nx-color-purple-a900: oklch(0.2905 0.1432 302.717 / 0.9098);
  --nx-color-purple-a950: oklch(0.2905 0.1432 302.717 / 0.9569);
  --nx-color-fuchsia-50: oklch(0.985 0.0127 320.058);
  --nx-color-fuchsia-100: oklch(0.945 0.036 318.852);
  --nx-color-fuchsia-200: oklch(0.87 0.0732 319.62);
  --nx-color-fuchsia-300: oklch(0.765 0.1322 321.434);
  --nx-color-fuchsia-400: oklch(0.66 0.207 322.16);
  --nx-color-fuchsia-500: oklch(0.553 0.2591 322.15);
  --nx-color-fuchsia-600: oklch(0.46 0.2355 322.896);
  --nx-color-fuchsia-700: oklch(0.385 0.1964 323.949);
  --nx-color-fuchsia-800: oklch(0.297 0.1511 324.591);
  --nx-color-fuchsia-900: oklch(0.207 0.105 325.612);
  --nx-color-fuchsia-950: oklch(0.118 0.0598 325.661);
  --nx-color-fuchsia-a50: oklch(0.2932 0.1309 325.661 / 0.0392);
  --nx-color-fuchsia-a100: oklch(0.2932 0.1309 325.661 / 0.0627);
  --nx-color-fuchsia-a200: oklch(0.2932 0.1309 325.661 / 0.0941);
  --nx-color-fuchsia-a300: oklch(0.2932 0.1309 325.661 / 0.1882);
  --nx-color-fuchsia-a400: oklch(0.2932 0.1309 325.661 / 0.3137);
  --nx-color-fuchsia-a500: oklch(0.2932 0.1309 325.661 / 0.502);
  --nx-color-fuchsia-a600: oklch(0.2932 0.1309 325.661 / 0.6275);
  --nx-color-fuchsia-a700: oklch(0.2932 0.1309 325.661 / 0.7529);
  --nx-color-fuchsia-a800: oklch(0.2932 0.1309 325.661 / 0.8471);
  --nx-color-fuchsia-a900: oklch(0.2932 0.1309 325.661 / 0.9098);
  --nx-color-fuchsia-a950: oklch(0.2932 0.1309 325.661 / 0.9569);
  --nx-color-pink-50: oklch(0.985 0.0125 343.198);
  --nx-color-pink-100: oklch(0.945 0.0276 342.258);
  --nx-color-pink-200: oklch(0.87 0.0589 343.231);
  --nx-color-pink-300: oklch(0.765 0.1095 346.018);
  --nx-color-pink-400: oklch(0.66 0.1752 349.761);
  --nx-color-pink-500: oklch(0.553 0.2118 354.308);
  --nx-color-pink-600: oklch(0.46 0.2097 0.584);
  --nx-color-pink-700: oklch(0.385 0.1746 3.958);
  --nx-color-pink-800: oklch(0.297 0.1347 3.815);
  --nx-color-pink-900: oklch(0.207 0.0941 2.432);
  --nx-color-pink-950: oklch(0.118 0.0535 3.907);
  --nx-color-pink-a50: oklch(0.2845 0.1048 3.907 / 0.0392);
  --nx-color-pink-a100: oklch(0.2845 0.1048 3.907 / 0.0627);
  --nx-color-pink-a200: oklch(0.2845 0.1048 3.907 / 0.0941);
  --nx-color-pink-a300: oklch(0.2845 0.1048 3.907 / 0.1882);
  --nx-color-pink-a400: oklch(0.2845 0.1048 3.907 / 0.3137);
  --nx-color-pink-a500: oklch(0.2845 0.1048 3.907 / 0.502);
  --nx-color-pink-a600: oklch(0.2845 0.1048 3.907 / 0.6275);
  --nx-color-pink-a700: oklch(0.2845 0.1048 3.907 / 0.7529);
  --nx-color-pink-a800: oklch(0.2845 0.1048 3.907 / 0.8471);
  --nx-color-pink-a900: oklch(0.2845 0.1048 3.907 / 0.9098);
  --nx-color-pink-a950: oklch(0.2845 0.1048 3.907 / 0.9569);
  --nx-color-slate-50: oklch(0.985 0.0034 247.858);
  --nx-color-slate-100: oklch(0.945 0.0069 247.896);
  --nx-color-slate-200: oklch(0.87 0.0126 255.508);
  --nx-color-slate-300: oklch(0.765 0.0198 252.894);
  --nx-color-slate-400: oklch(0.66 0.0351 256.788);
  --nx-color-slate-500: oklch(0.553 0.0407 257.417);
  --nx-color-slate-600: oklch(0.46 0.0374 257.281);
  --nx-color-slate-700: oklch(0.385 0.0392 257.287);
  --nx-color-slate-800: oklch(0.297 0.0368 260.031);
  --nx-color-slate-900: oklch(0.207 0.0398 265.755);
  --nx-color-slate-950: oklch(0.118 0.0406 264.695);
  --nx-color-slate-a50: oklch(0.1288 0.0406 264.695 / 0.0392);
  --nx-color-slate-a100: oklch(0.1288 0.0406 264.695 / 0.0627);
  --nx-color-slate-a200: oklch(0.1288 0.0406 264.695 / 0.0941);
  --nx-color-slate-a300: oklch(0.1288 0.0406 264.695 / 0.1882);
  --nx-color-slate-a400: oklch(0.1288 0.0406 264.695 / 0.3137);
  --nx-color-slate-a500: oklch(0.1288 0.0406 264.695 / 0.502);
  --nx-color-slate-a600: oklch(0.1288 0.0406 264.695 / 0.6275);
  --nx-color-slate-a700: oklch(0.1288 0.0406 264.695 / 0.7529);
  --nx-color-slate-a800: oklch(0.1288 0.0406 264.695 / 0.8471);
  --nx-color-slate-a900: oklch(0.1288 0.0406 264.695 / 0.9098);
  --nx-color-slate-a950: oklch(0.1288 0.0406 264.695 / 0.9569);
  --nx-color-rose-50: oklch(0.985 0.0096 12.422);
  --nx-color-rose-100: oklch(0.945 0.0298 12.58);
  --nx-color-rose-200: oklch(0.87 0.0559 10.001);
  --nx-color-rose-300: oklch(0.765 0.1061 11.638);
  --nx-color-rose-400: oklch(0.66 0.169 13.428);
  --nx-color-rose-500: oklch(0.553 0.2154 16.439);
  --nx-color-rose-600: oklch(0.46 0.2078 17.585);
  --nx-color-rose-700: oklch(0.385 0.1738 16.935);
  --nx-color-rose-800: oklch(0.297 0.1339 13.697);
  --nx-color-rose-900: oklch(0.207 0.0933 10.272);
  --nx-color-rose-950: oklch(0.118 0.0532 12.094);
  --nx-color-rose-a50: oklch(0.2708 0.1009 12.094 / 0.0392);
  --nx-color-rose-a100: oklch(0.2708 0.1009 12.094 / 0.0627);
  --nx-color-rose-a200: oklch(0.2708 0.1009 12.094 / 0.0941);
  --nx-color-rose-a300: oklch(0.2708 0.1009 12.094 / 0.1882);
  --nx-color-rose-a400: oklch(0.2708 0.1009 12.094 / 0.3137);
  --nx-color-rose-a500: oklch(0.2708 0.1009 12.094 / 0.502);
  --nx-color-rose-a600: oklch(0.2708 0.1009 12.094 / 0.6275);
  --nx-color-rose-a700: oklch(0.2708 0.1009 12.094 / 0.7529);
  --nx-color-rose-a800: oklch(0.2708 0.1009 12.094 / 0.8471);
  --nx-color-rose-a900: oklch(0.2708 0.1009 12.094 / 0.9098);
  --nx-color-rose-a950: oklch(0.2708 0.1009 12.094 / 0.9569);
  --nx-color-lime-50: oklch(0.985 0.031 120.757);
  --nx-color-lime-100: oklch(0.945 0.0659 122.328);
  --nx-color-lime-200: oklch(0.87 0.1217 124.321);
  --nx-color-lime-300: oklch(0.765 0.1786 126.665);
  --nx-color-lime-400: oklch(0.66 0.2043 128.85);
  --nx-color-lime-500: oklch(0.553 0.1765 130.85);
  --nx-color-lime-600: oklch(0.46 0.1488 131.684);
  --nx-color-lime-700: oklch(0.385 0.1243 131.589);
  --nx-color-lime-800: oklch(0.297 0.0949 130.933);
  --nx-color-lime-900: oklch(0.207 0.0663 131.063);
  --nx-color-lime-950: oklch(0.118 0.0384 132.109);
  --nx-color-lime-a50: oklch(0.2741 0.0688 132.109 / 0.0392);
  --nx-color-lime-a100: oklch(0.2741 0.0688 132.109 / 0.0627);
  --nx-color-lime-a200: oklch(0.2741 0.0688 132.109 / 0.0941);
  --nx-color-lime-a300: oklch(0.2741 0.0688 132.109 / 0.1882);
  --nx-color-lime-a400: oklch(0.2741 0.0688 132.109 / 0.3137);
  --nx-color-lime-a500: oklch(0.2741 0.0688 132.109 / 0.502);
  --nx-color-lime-a600: oklch(0.2741 0.0688 132.109 / 0.6275);
  --nx-color-lime-a700: oklch(0.2741 0.0688 132.109 / 0.7529);
  --nx-color-lime-a800: oklch(0.2741 0.0688 132.109 / 0.8471);
  --nx-color-lime-a900: oklch(0.2741 0.0688 132.109 / 0.9098);
  --nx-color-lime-a950: oklch(0.2741 0.0688 132.109 / 0.9569);
  --nx-color-yellow-50: oklch(0.985 0.0262 102.212);
  --nx-color-yellow-100: oklch(0.945 0.0693 103.193);
  --nx-color-yellow-200: oklch(0.87 0.1243 101.54);
  --nx-color-yellow-300: oklch(0.765 0.1657 98.111);
  --nx-color-yellow-400: oklch(0.66 0.156 91.936);
  --nx-color-yellow-500: oklch(0.553 0.1305 86.047);
  --nx-color-yellow-600: oklch(0.46 0.1111 75.834);
  --nx-color-yellow-700: oklch(0.385 0.0979 66.442);
  --nx-color-yellow-800: oklch(0.297 0.0782 61.907);
  --nx-color-yellow-900: oklch(0.207 0.0567 57.708);
  --nx-color-yellow-950: oklch(0.118 0.0338 53.813);
  --nx-color-yellow-a50: oklch(0.2857 0.0639 53.813 / 0.0392);
  --nx-color-yellow-a100: oklch(0.2857 0.0639 53.813 / 0.0627);
  --nx-color-yellow-a200: oklch(0.2857 0.0639 53.813 / 0.0941);
  --nx-color-yellow-a300: oklch(0.2857 0.0639 53.813 / 0.1882);
  --nx-color-yellow-a400: oklch(0.2857 0.0639 53.813 / 0.3137);
  --nx-color-yellow-a500: oklch(0.2857 0.0639 53.813 / 0.502);
  --nx-color-yellow-a600: oklch(0.2857 0.0639 53.813 / 0.6275);
  --nx-color-yellow-a700: oklch(0.2857 0.0639 53.813 / 0.7529);
  --nx-color-yellow-a800: oklch(0.2857 0.0639 53.813 / 0.8471);
  --nx-color-yellow-a900: oklch(0.2857 0.0639 53.813 / 0.9098);
  --nx-color-yellow-a950: oklch(0.2857 0.0639 53.813 / 0.9569);
  --nx-color-blue-50: oklch(0.985 0.0079 252.81);
  --nx-color-blue-100: oklch(0.945 0.02 257.472);
  --nx-color-blue-200: oklch(0.87 0.0443 253.613);
  --nx-color-blue-300: oklch(0.765 0.0751 254.248);
  --nx-color-blue-400: oklch(0.66 0.1053 255.225);
  --nx-color-blue-500: oklch(0.553 0.1352 255.145);
  --nx-color-blue-600: oklch(0.46 0.1301 255.276);
  --nx-color-blue-700: oklch(0.385 0.1213 255.267);
  --nx-color-blue-800: oklch(0.297 0.1 254.871);
  --nx-color-blue-900: oklch(0.207 0.0802 254.902);
  --nx-color-blue-950: oklch(0.118 0.0518 256.214);
  --nx-color-blue-a50: oklch(0.2192 0.0613 256.214 / 0.0392);
  --nx-color-blue-a100: oklch(0.2192 0.0613 256.214 / 0.0627);
  --nx-color-blue-a200: oklch(0.2192 0.0613 256.214 / 0.0941);
  --nx-color-blue-a300: oklch(0.2192 0.0613 256.214 / 0.1882);
  --nx-color-blue-a400: oklch(0.2192 0.0613 256.214 / 0.3137);
  --nx-color-blue-a500: oklch(0.2192 0.0613 256.214 / 0.502);
  --nx-color-blue-a600: oklch(0.2192 0.0613 256.214 / 0.6275);
  --nx-color-blue-a700: oklch(0.2192 0.0613 256.214 / 0.7529);
  --nx-color-blue-a800: oklch(0.2192 0.0613 256.214 / 0.8471);
  --nx-color-blue-a900: oklch(0.2192 0.0613 256.214 / 0.9098);
  --nx-color-blue-a950: oklch(0.2192 0.0613 256.214 / 0.9569);
  --nx-color-gray-50: oklch(0.985 0.0017 247.839);
  --nx-color-gray-100: oklch(0.945 0.0029 264.542);
  --nx-color-gray-200: oklch(0.87 0.0058 264.531);
  --nx-color-gray-300: oklch(0.765 0.0093 258.338);
  --nx-color-gray-400: oklch(0.66 0.0192 261.325);
  --nx-color-gray-500: oklch(0.553 0.0234 264.364);
  --nx-color-gray-600: oklch(0.46 0.0263 256.802);
  --nx-color-gray-700: oklch(0.385 0.0306 259.733);
  --nx-color-gray-800: oklch(0.297 0.0296 256.848);
  --nx-color-gray-900: oklch(0.207 0.0318 264.665);
  --nx-color-gray-950: oklch(0.118 0.0274 261.692);
  --nx-color-gray-a50: oklch(0.1296 0.0274 261.692 / 0.0392);
  --nx-color-gray-a100: oklch(0.1296 0.0274 261.692 / 0.0627);
  --nx-color-gray-a200: oklch(0.1296 0.0274 261.692 / 0.0941);
  --nx-color-gray-a300: oklch(0.1296 0.0274 261.692 / 0.1882);
  --nx-color-gray-a400: oklch(0.1296 0.0274 261.692 / 0.3137);
  --nx-color-gray-a500: oklch(0.1296 0.0274 261.692 / 0.502);
  --nx-color-gray-a600: oklch(0.1296 0.0274 261.692 / 0.6275);
  --nx-color-gray-a700: oklch(0.1296 0.0274 261.692 / 0.7529);
  --nx-color-gray-a800: oklch(0.1296 0.0274 261.692 / 0.8471);
  --nx-color-gray-a900: oklch(0.1296 0.0274 261.692 / 0.9098);
  --nx-color-gray-a950: oklch(0.1296 0.0274 261.692 / 0.9569);
  --nx-color-zinc-50: oklch(0.985 0 0);
  --nx-color-zinc-100: oklch(0.945 0.0013 286.375);
  --nx-color-zinc-200: oklch(0.87 0.004 286.32);
  --nx-color-zinc-300: oklch(0.765 0.0055 286.286);
  --nx-color-zinc-400: oklch(0.66 0.0129 286.066);
  --nx-color-zinc-500: oklch(0.553 0.0138 285.938);
  --nx-color-zinc-600: oklch(0.46 0.0146 285.786);
  --nx-color-zinc-700: oklch(0.385 0.0119 285.805);
  --nx-color-zinc-800: oklch(0.297 0.0055 286.033);
  --nx-color-zinc-900: oklch(0.207 0.0059 285.885);
  --nx-color-zinc-950: oklch(0.118 0.0044 285.823);
  --nx-color-zinc-a50: oklch(0.1408 0.0044 285.823 / 0.0392);
  --nx-color-zinc-a100: oklch(0.1408 0.0044 285.823 / 0.0627);
  --nx-color-zinc-a200: oklch(0.1408 0.0044 285.823 / 0.0941);
  --nx-color-zinc-a300: oklch(0.1408 0.0044 285.823 / 0.1882);
  --nx-color-zinc-a400: oklch(0.1408 0.0044 285.823 / 0.3137);
  --nx-color-zinc-a500: oklch(0.1408 0.0044 285.823 / 0.502);
  --nx-color-zinc-a600: oklch(0.1408 0.0044 285.823 / 0.6275);
  --nx-color-zinc-a700: oklch(0.1408 0.0044 285.823 / 0.7529);
  --nx-color-zinc-a800: oklch(0.1408 0.0044 285.823 / 0.8471);
  --nx-color-zinc-a900: oklch(0.1408 0.0044 285.823 / 0.9098);
  --nx-color-zinc-a950: oklch(0.1408 0.0044 285.823 / 0.9569);
  --nx-color-neutral-50: oklch(0.985 0 0);
  --nx-color-neutral-100: oklch(0.945 0 0);
  --nx-color-neutral-200: oklch(0.87 0 0);
  --nx-color-neutral-300: oklch(0.765 0 0);
  --nx-color-neutral-400: oklch(0.66 0 0);
  --nx-color-neutral-500: oklch(0.553 0 0);
  --nx-color-neutral-600: oklch(0.46 0 0);
  --nx-color-neutral-700: oklch(0.385 0 0);
  --nx-color-neutral-800: oklch(0.297 0 0);
  --nx-color-neutral-900: oklch(0.207 0 0);
  --nx-color-neutral-950: oklch(0.118 0 0);
  --nx-color-neutral-a50: oklch(0.1448 0 0 / 0.0392);
  --nx-color-neutral-a100: oklch(0.1448 0 0 / 0.0627);
  --nx-color-neutral-a200: oklch(0.1448 0 0 / 0.0941);
  --nx-color-neutral-a300: oklch(0.1448 0 0 / 0.1882);
  --nx-color-neutral-a400: oklch(0.1448 0 0 / 0.3137);
  --nx-color-neutral-a500: oklch(0.1448 0 0 / 0.502);
  --nx-color-neutral-a600: oklch(0.1448 0 0 / 0.6275);
  --nx-color-neutral-a700: oklch(0.1448 0 0 / 0.7529);
  --nx-color-neutral-a800: oklch(0.1448 0 0 / 0.8471);
  --nx-color-neutral-a900: oklch(0.1448 0 0 / 0.9098);
  --nx-color-neutral-a950: oklch(0.1448 0 0 / 0.9569);
  --nx-color-stone-50: oklch(0.985 0.0013 106.424);
  --nx-color-stone-100: oklch(0.945 0.0013 106.424);
  --nx-color-stone-200: oklch(0.87 0.0026 48.717);
  --nx-color-stone-300: oklch(0.765 0.0043 56.366);
  --nx-color-stone-400: oklch(0.66 0.0091 56.259);
  --nx-color-stone-500: oklch(0.553 0.0116 58.071);
  --nx-color-stone-600: oklch(0.46 0.0096 73.639);
  --nx-color-stone-700: oklch(0.385 0.0087 67.558);
  --nx-color-stone-800: oklch(0.297 0.0063 34.297);
  --nx-color-stone-900: oklch(0.207 0.0061 56.043);
  --nx-color-stone-950: oklch(0.118 0.0041 49.25);
  --nx-color-stone-a50: oklch(0.1469 0.0041 49.25 / 0.0392);
  --nx-color-stone-a100: oklch(0.1469 0.0041 49.25 / 0.0627);
  --nx-color-stone-a200: oklch(0.1469 0.0041 49.25 / 0.0941);
  --nx-color-stone-a300: oklch(0.1469 0.0041 49.25 / 0.1882);
  --nx-color-stone-a400: oklch(0.1469 0.0041 49.25 / 0.3137);
  --nx-color-stone-a500: oklch(0.1469 0.0041 49.25 / 0.502);
  --nx-color-stone-a600: oklch(0.1469 0.0041 49.25 / 0.6275);
  --nx-color-stone-a700: oklch(0.1469 0.0041 49.25 / 0.7529);
  --nx-color-stone-a800: oklch(0.1469 0.0041 49.25 / 0.8471);
  --nx-color-stone-a900: oklch(0.1469 0.0041 49.25 / 0.9098);
  --nx-color-stone-a950: oklch(0.1469 0.0041 49.25 / 0.9569);
  --nx-color-red-50: oklch(0.985 0.0095 28.865);
  --nx-color-red-100: oklch(0.945 0.0234 27.342);
  --nx-color-red-200: oklch(0.87 0.0495 27.394);
  --nx-color-red-300: oklch(0.765 0.0857 28.058);
  --nx-color-red-400: oklch(0.66 0.1254 27.842);
  --nx-color-red-500: oklch(0.553 0.1597 27.978);
  --nx-color-red-600: oklch(0.46 0.1699 27.926);
  --nx-color-red-700: oklch(0.385 0.1555 27.946);
  --nx-color-red-800: oklch(0.297 0.1297 28.144);
  --nx-color-red-900: oklch(0.207 0.0953 28.057);
  --nx-color-red-950: oklch(0.118 0.0544 28.309);
  --nx-color-red-a50: oklch(0.2504 0.0702 28.309 / 0.0392);
  --nx-color-red-a100: oklch(0.2504 0.0702 28.309 / 0.0627);
  --nx-color-red-a200: oklch(0.2504 0.0702 28.309 / 0.0941);
  --nx-color-red-a300: oklch(0.2504 0.0702 28.309 / 0.1882);
  --nx-color-red-a400: oklch(0.2504 0.0702 28.309 / 0.3137);
  --nx-color-red-a500: oklch(0.2504 0.0702 28.309 / 0.502);
  --nx-color-red-a600: oklch(0.2504 0.0702 28.309 / 0.6275);
  --nx-color-red-a700: oklch(0.2504 0.0702 28.309 / 0.7529);
  --nx-color-red-a800: oklch(0.2504 0.0702 28.309 / 0.8471);
  --nx-color-red-a900: oklch(0.2504 0.0702 28.309 / 0.9098);
  --nx-color-red-a950: oklch(0.2504 0.0702 28.309 / 0.9569);
  --nx-color-orange-50: oklch(0.985 0.0146 73.684);
  --nx-color-orange-100: oklch(0.945 0.0372 75.164);
  --nx-color-orange-200: oklch(0.87 0.0729 70.697);
  --nx-color-orange-300: oklch(0.765 0.1165 66.29);
  --nx-color-orange-400: oklch(0.66 0.159 55.934);
  --nx-color-orange-500: oklch(0.553 0.1721 47.604);
  --nx-color-orange-600: oklch(0.46 0.1596 41.116);
  --nx-color-orange-700: oklch(0.385 0.1409 38.402);
  --nx-color-orange-800: oklch(0.297 0.1113 37.304);
  --nx-color-orange-900: oklch(0.207 0.0761 38.172);
  --nx-color-orange-950: oklch(0.118 0.0452 36.259);
  --nx-color-orange-a50: oklch(0.2659 0.0762 36.259 / 0.0392);
  --nx-color-orange-a100: oklch(0.2659 0.0762 36.259 / 0.0627);
  --nx-color-orange-a200: oklch(0.2659 0.0762 36.259 / 0.0941);
  --nx-color-orange-a300: oklch(0.2659 0.0762 36.259 / 0.1882);
  --nx-color-orange-a400: oklch(0.2659 0.0762 36.259 / 0.3137);
  --nx-color-orange-a500: oklch(0.2659 0.0762 36.259 / 0.502);
  --nx-color-orange-a600: oklch(0.2659 0.0762 36.259 / 0.6275);
  --nx-color-orange-a700: oklch(0.2659 0.0762 36.259 / 0.7529);
  --nx-color-orange-a800: oklch(0.2659 0.0762 36.259 / 0.8471);
  --nx-color-orange-a900: oklch(0.2659 0.0762 36.259 / 0.9098);
  --nx-color-orange-a950: oklch(0.2659 0.0762 36.259 / 0.9569);
  --nx-color-amber-50: oklch(0.985 0.0124 75.368);
  --nx-color-amber-100: oklch(0.945 0.0249 75.273);
  --nx-color-amber-200: oklch(0.87 0.0501 74.981);
  --nx-color-amber-300: oklch(0.765 0.0848 74.99);
  --nx-color-amber-400: oklch(0.66 0.115 75.338);
  --nx-color-amber-500: oklch(0.553 0.1341 74.873);
  --nx-color-amber-600: oklch(0.46 0.1114 75.243);
  --nx-color-amber-700: oklch(0.385 0.0932 75.452);
  --nx-color-amber-800: oklch(0.297 0.0719 75.364);
  --nx-color-amber-900: oklch(0.207 0.0502 74.939);
  --nx-color-amber-950: oklch(0.118 0.0286 74.712);
  --nx-color-amber-a50: oklch(0.2798 0.0568 74.712 / 0.0392);
  --nx-color-amber-a100: oklch(0.2798 0.0568 74.712 / 0.0627);
  --nx-color-amber-a200: oklch(0.2798 0.0568 74.712 / 0.0941);
  --nx-color-amber-a300: oklch(0.2798 0.0568 74.712 / 0.1882);
  --nx-color-amber-a400: oklch(0.2798 0.0568 74.712 / 0.3137);
  --nx-color-amber-a500: oklch(0.2798 0.0568 74.712 / 0.502);
  --nx-color-amber-a600: oklch(0.2798 0.0568 74.712 / 0.6275);
  --nx-color-amber-a700: oklch(0.2798 0.0568 74.712 / 0.7529);
  --nx-color-amber-a800: oklch(0.2798 0.0568 74.712 / 0.8471);
  --nx-color-amber-a900: oklch(0.2798 0.0568 74.712 / 0.9098);
  --nx-color-amber-a950: oklch(0.2798 0.0568 74.712 / 0.9569);
  --nx-color-white: oklch(1 0 0);
  --nx-color-black: oklch(0.1448 0 0);
  --nx-color-white-a50: oklch(1 0 0 / 0.0392);
  --nx-color-white-a100: oklch(1 0 0 / 0.0627);
  --nx-color-white-a200: oklch(1 0 0 / 0.0941);
  --nx-color-white-a300: oklch(1 0 0 / 0.1882);
  --nx-color-white-a400: oklch(1 0 0 / 0.3137);
  --nx-color-white-a500: oklch(1 0 0 / 0.502);
  --nx-color-white-a600: oklch(1 0 0 / 0.6275);
  --nx-color-white-a700: oklch(1 0 0 / 0.7529);
  --nx-color-white-a800: oklch(1 0 0 / 0.8471);
  --nx-color-white-a900: oklch(1 0 0 / 0.9098);
  --nx-color-white-a950: oklch(1 0 0 / 0.9569);
  --nx-color-black-a50: oklch(0.1448 0 0 / 0.0392);
  --nx-color-black-a100: oklch(0.1448 0 0 / 0.0627);
  --nx-color-black-a200: oklch(0.1448 0 0 / 0.0941);
  --nx-color-black-a300: oklch(0.1448 0 0 / 0.1882);
  --nx-color-black-a400: oklch(0.1448 0 0 / 0.3137);
  --nx-color-black-a500: oklch(0.1448 0 0 / 0.502);
  --nx-color-black-a600: oklch(0.1448 0 0 / 0.6275);
  --nx-color-black-a700: oklch(0.1448 0 0 / 0.7529);
  --nx-color-black-a800: oklch(0.1448 0 0 / 0.8471);
  --nx-color-black-a900: oklch(0.1448 0 0 / 0.9098);
  --nx-color-black-a950: oklch(0.1448 0 0 / 0.9569);
}
