/* color primitives */

:root {
  --nx-color-green-50: oklch(0.982 0.035 137.785);
  --nx-color-green-100: oklch(0.96 0.0789 139.835);
  --nx-color-green-200: oklch(0.925 0.1596 139.892);
  --nx-color-green-300: oklch(0.87 0.3119 139.843);
  --nx-color-green-400: oklch(0.79 0.2864 140.349);
  --nx-color-green-500: oklch(0.72 0.2591 140.014);
  --nx-color-green-600: oklch(0.62 0.2233 140.055);
  --nx-color-green-700: oklch(0.52 0.1871 140.022);
  --nx-color-green-800: oklch(0.43 0.1534 139.623);
  --nx-color-green-900: oklch(0.34 0.1216 139.757);
  --nx-color-green-950: oklch(0.25 0.0887 139.4);
  --nx-color-emerald-50: oklch(0.982 0.0271 166.113);
  --nx-color-emerald-100: oklch(0.96 0.0629 163.051);
  --nx-color-emerald-200: oklch(0.925 0.1236 164.15);
  --nx-color-emerald-300: oklch(0.87 0.2341 164.978);
  --nx-color-emerald-400: oklch(0.79 0.2219 163.223);
  --nx-color-emerald-500: oklch(0.72 0.2046 162.48);
  --nx-color-emerald-600: oklch(0.62 0.1742 163.225);
  --nx-color-emerald-700: oklch(0.52 0.1411 165.612);
  --nx-color-emerald-800: oklch(0.43 0.1147 166.913);
  --nx-color-emerald-900: oklch(0.34 0.0884 168.94);
  --nx-color-emerald-950: oklch(0.25 0.0624 172.552);
  --nx-color-teal-50: oklch(0.98 0.0297 180.72);
  --nx-color-teal-100: oklch(0.945 0.086 180.801);
  --nx-color-teal-200: oklch(0.9 0.1682 180.426);
  --nx-color-teal-300: oklch(0.85 0.1971 181.071);
  --nx-color-teal-400: oklch(0.79 0.1821 181.912);
  --nx-color-teal-500: oklch(0.72 0.1653 182.503);
  --nx-color-teal-600: oklch(0.62 0.1405 184.704);
  --nx-color-teal-700: oklch(0.52 0.1168 186.391);
  --nx-color-teal-800: oklch(0.43 0.0957 188.216);
  --nx-color-teal-900: oklch(0.34 0.0756 188.416);
  --nx-color-teal-950: oklch(0.25 0.0548 192.524);
  --nx-color-cyan-50: oklch(0.98 0.0244 200.873);
  --nx-color-cyan-100: oklch(0.955 0.0502 203.388);
  --nx-color-cyan-200: oklch(0.91 0.0962 205.041);
  --nx-color-cyan-300: oklch(0.85 0.1529 207.078);
  --nx-color-cyan-400: oklch(0.79 0.1738 211.53);
  --nx-color-cyan-500: oklch(0.72 0.1608 215.221);
  --nx-color-cyan-600: oklch(0.63 0.1461 221.723);
  --nx-color-cyan-700: oklch(0.53 0.1242 223.128);
  --nx-color-cyan-800: oklch(0.44 0.104 224.283);
  --nx-color-cyan-900: oklch(0.35 0.085 227.392);
  --nx-color-cyan-950: oklch(0.26 0.0646 229.695);
  --nx-color-sky-50: oklch(0.975 0.0142 236.62);
  --nx-color-sky-100: oklch(0.945 0.0315 236.824);
  --nx-color-sky-200: oklch(0.895 0.0654 230.902);
  --nx-color-sky-300: oklch(0.82 0.1156 230.318);
  --nx-color-sky-400: oklch(0.74 0.1663 232.661);
  --nx-color-sky-500: oklch(0.67 0.1829 237.323);
  --nx-color-sky-600: oklch(0.58 0.1704 241.966);
  --nx-color-sky-700: oklch(0.5 0.1489 242.749);
  --nx-color-sky-800: oklch(0.42 0.1209 240.79);
  --nx-color-sky-900: oklch(0.34 0.098 240.876);
  --nx-color-sky-950: oklch(0.25 0.075 243.157);
  --nx-color-indigo-50: oklch(0.96 0.0197 272.314);
  --nx-color-indigo-100: oklch(0.925 0.0375 272.788);
  --nx-color-indigo-200: oklch(0.865 0.069 274.039);
  --nx-color-indigo-300: oklch(0.78 0.1159 274.713);
  --nx-color-indigo-400: oklch(0.67 0.1813 276.935);
  --nx-color-indigo-500: oklch(0.57 0.244 277.117);
  --nx-color-indigo-600: oklch(0.49 0.2912 276.966);
  --nx-color-indigo-700: oklch(0.42 0.2495 277.023);
  --nx-color-indigo-800: oklch(0.35 0.2074 277.366);
  --nx-color-indigo-900: oklch(0.28 0.1645 278.697);
  --nx-color-indigo-950: oklch(0.21 0.1214 281.288);
  --nx-color-violet-50: oklch(0.965 0.0192 293.756);
  --nx-color-violet-100: oklch(0.93 0.0392 294.588);
  --nx-color-violet-200: oklch(0.875 0.0705 293.283);
  --nx-color-violet-300: oklch(0.79 0.1223 293.571);
  --nx-color-violet-400: oklch(0.68 0.1933 293.541);
  --nx-color-violet-500: oklch(0.59 0.2532 292.717);
  --nx-color-violet-600: oklch(0.51 0.2773 293.009);
  --nx-color-violet-700: oklch(0.44 0.2397 292.581);
  --nx-color-violet-800: oklch(0.37 0.2014 292.759);
  --nx-color-violet-900: oklch(0.3 0.1626 293.745);
  --nx-color-violet-950: oklch(0.22 0.1207 291.089);
  --nx-color-purple-50: oklch(0.967 0.0215 308.299);
  --nx-color-purple-100: oklch(0.935 0.0421 307.174);
  --nx-color-purple-200: oklch(0.88 0.0787 306.703);
  --nx-color-purple-300: oklch(0.8 0.1343 306.383);
  --nx-color-purple-400: oklch(0.7 0.2061 305.504);
  --nx-color-purple-500: oklch(0.61 0.2701 303.9);
  --nx-color-purple-600: oklch(0.53 0.2772 302.321);
  --nx-color-purple-700: oklch(0.46 0.241 301.924);
  --nx-color-purple-800: oklch(0.39 0.2029 303.724);
  --nx-color-purple-900: oklch(0.32 0.1657 304.987);
  --nx-color-purple-950: oklch(0.24 0.1253 302.717);
  --nx-color-fuchsia-50: oklch(0.97 0.0244 320.058);
  --nx-color-fuchsia-100: oklch(0.94 0.0479 318.852);
  --nx-color-fuchsia-200: oklch(0.89 0.0911 319.62);
  --nx-color-fuchsia-300: oklch(0.81 0.1692 321.434);
  --nx-color-fuchsia-400: oklch(0.71 0.2728 322.16);
  --nx-color-fuchsia-500: oklch(0.63 0.3072 322.15);
  --nx-color-fuchsia-600: oklch(0.56 0.2723 322.896);
  --nx-color-fuchsia-700: oklch(0.49 0.2374 323.949);
  --nx-color-fuchsia-800: oklch(0.41 0.1982 324.591);
  --nx-color-fuchsia-900: oklch(0.33 0.159 325.612);
  --nx-color-fuchsia-950: oklch(0.25 0.1204 325.661);
  --nx-color-pink-50: oklch(0.97 0.024 343.198);
  --nx-color-pink-100: oklch(0.94 0.05 342.258);
  --nx-color-pink-200: oklch(0.89 0.0943 343.231);
  --nx-color-pink-300: oklch(0.82 0.1582 346.018);
  --nx-color-pink-400: oklch(0.72 0.2597 349.761);
  --nx-color-pink-500: oklch(0.64 0.2809 354.308);
  --nx-color-pink-600: oklch(0.57 0.2469 0.584);
  --nx-color-pink-700: oklch(0.5 0.2154 3.958);
  --nx-color-pink-800: oklch(0.42 0.181 3.815);
  --nx-color-pink-900: oklch(0.34 0.1468 2.432);
  --nx-color-pink-950: oklch(0.25 0.1077 3.907);
  --nx-color-slate-50: oklch(0.985 0.0034 247.858);
  --nx-color-slate-100: oklch(0.945 0.0069 247.896);
  --nx-color-slate-200: oklch(0.87 0.0126 255.508);
  --nx-color-slate-300: oklch(0.765 0.0198 252.894);
  --nx-color-slate-400: oklch(0.66 0.0351 256.788);
  --nx-color-slate-500: oklch(0.553 0.0407 257.417);
  --nx-color-slate-600: oklch(0.46 0.0374 257.281);
  --nx-color-slate-700: oklch(0.385 0.0392 257.287);
  --nx-color-slate-800: oklch(0.297 0.0368 260.031);
  --nx-color-slate-900: oklch(0.207 0.0398 265.755);
  --nx-color-slate-950: oklch(0.118 0.0406 264.695);
  --nx-color-slate-a50: oklch(0.1288 0.0406 264.695 / 0.0392);
  --nx-color-slate-a100: oklch(0.1288 0.0406 264.695 / 0.0627);
  --nx-color-slate-a200: oklch(0.1288 0.0406 264.695 / 0.0941);
  --nx-color-slate-a300: oklch(0.1288 0.0406 264.695 / 0.1882);
  --nx-color-slate-a400: oklch(0.1288 0.0406 264.695 / 0.3137);
  --nx-color-slate-a500: oklch(0.1288 0.0406 264.695 / 0.502);
  --nx-color-slate-a600: oklch(0.1288 0.0406 264.695 / 0.6275);
  --nx-color-slate-a700: oklch(0.1288 0.0406 264.695 / 0.7529);
  --nx-color-slate-a800: oklch(0.1288 0.0406 264.695 / 0.8471);
  --nx-color-slate-a900: oklch(0.1288 0.0406 264.695 / 0.9098);
  --nx-color-slate-a950: oklch(0.1288 0.0406 264.695 / 0.9569);
  --nx-color-rose-50: oklch(0.971 0.0179 12.422);
  --nx-color-rose-100: oklch(0.936 0.0406 12.58);
  --nx-color-rose-200: oklch(0.885 0.0771 10.001);
  --nx-color-rose-300: oklch(0.81 0.1354 11.638);
  --nx-color-rose-400: oklch(0.71 0.2263 13.428);
  --nx-color-rose-500: oklch(0.64 0.2744 16.439);
  --nx-color-rose-600: oklch(0.58 0.2489 17.585);
  --nx-color-rose-700: oklch(0.51 0.2187 16.935);
  --nx-color-rose-800: oklch(0.42 0.1799 13.697);
  --nx-color-rose-900: oklch(0.34 0.1457 10.272);
  --nx-color-rose-950: oklch(0.25 0.1071 12.094);
  --nx-color-lime-50: oklch(0.985 0.0421 120.757);
  --nx-color-lime-100: oklch(0.965 0.1023 122.328);
  --nx-color-lime-200: oklch(0.93 0.2278 124.321);
  --nx-color-lime-300: oklch(0.9 0.2565 126.665);
  --nx-color-lime-400: oklch(0.88 0.2588 128.85);
  --nx-color-lime-500: oklch(0.82 0.2486 130.85);
  --nx-color-lime-600: oklch(0.73 0.2243 131.684);
  --nx-color-lime-700: oklch(0.61 0.1871 131.589);
  --nx-color-lime-800: oklch(0.49 0.1488 130.933);
  --nx-color-lime-900: oklch(0.37 0.1125 131.063);
  --nx-color-lime-950: oklch(0.26 0.0805 132.109);
  --nx-color-yellow-50: oklch(0.985 0.0428 102.212);
  --nx-color-yellow-100: oklch(0.96 0.1199 103.193);
  --nx-color-yellow-200: oklch(0.92 0.2067 101.54);
  --nx-color-yellow-300: oklch(0.88 0.2 98.111);
  --nx-color-yellow-400: oklch(0.86 0.193 91.936);
  --nx-color-yellow-500: oklch(0.8 0.1794 86.047);
  --nx-color-yellow-600: oklch(0.72 0.1653 75.834);
  --nx-color-yellow-700: oklch(0.6 0.1449 66.442);
  --nx-color-yellow-800: oklch(0.47 0.1176 61.907);
  --nx-color-yellow-900: oklch(0.35 0.0911 57.708);
  --nx-color-yellow-950: oklch(0.23 0.0625 53.813);
  --nx-color-blue-50: oklch(0.97 0.0152 252.81);
  --nx-color-blue-100: oklch(0.932 0.0342 257.472);
  --nx-color-blue-200: oklch(0.882 0.0612 253.613);
  --nx-color-blue-300: oklch(0.809 0.1012 254.248);
  --nx-color-blue-400: oklch(0.707 0.1599 255.225);
  --nx-color-blue-500: oklch(0.623 0.2112 255.145);
  --nx-color-blue-600: oklch(0.546 0.2205 255.276);
  --nx-color-blue-700: oklch(0.488 0.197 255.267);
  --nx-color-blue-800: oklch(0.41 0.1633 254.871);
  --nx-color-blue-900: oklch(0.33 0.1316 254.902);
  --nx-color-blue-950: oklch(0.25 0.1042 256.214);
  --nx-color-gray-50: oklch(0.985 0.0017 247.839);
  --nx-color-gray-100: oklch(0.945 0.0029 264.542);
  --nx-color-gray-200: oklch(0.87 0.0058 264.531);
  --nx-color-gray-300: oklch(0.765 0.0093 258.338);
  --nx-color-gray-400: oklch(0.66 0.0192 261.325);
  --nx-color-gray-500: oklch(0.553 0.0234 264.364);
  --nx-color-gray-600: oklch(0.46 0.0263 256.802);
  --nx-color-gray-700: oklch(0.385 0.0306 259.733);
  --nx-color-gray-800: oklch(0.297 0.0296 256.848);
  --nx-color-gray-900: oklch(0.207 0.0318 264.665);
  --nx-color-gray-950: oklch(0.118 0.0274 261.692);
  --nx-color-gray-a50: oklch(0.1296 0.0274 261.692 / 0.0392);
  --nx-color-gray-a100: oklch(0.1296 0.0274 261.692 / 0.0627);
  --nx-color-gray-a200: oklch(0.1296 0.0274 261.692 / 0.0941);
  --nx-color-gray-a300: oklch(0.1296 0.0274 261.692 / 0.1882);
  --nx-color-gray-a400: oklch(0.1296 0.0274 261.692 / 0.3137);
  --nx-color-gray-a500: oklch(0.1296 0.0274 261.692 / 0.502);
  --nx-color-gray-a600: oklch(0.1296 0.0274 261.692 / 0.6275);
  --nx-color-gray-a700: oklch(0.1296 0.0274 261.692 / 0.7529);
  --nx-color-gray-a800: oklch(0.1296 0.0274 261.692 / 0.8471);
  --nx-color-gray-a900: oklch(0.1296 0.0274 261.692 / 0.9098);
  --nx-color-gray-a950: oklch(0.1296 0.0274 261.692 / 0.9569);
  --nx-color-zinc-50: oklch(0.985 0 0);
  --nx-color-zinc-100: oklch(0.945 0.0013 286.375);
  --nx-color-zinc-200: oklch(0.87 0.004 286.32);
  --nx-color-zinc-300: oklch(0.765 0.0055 286.286);
  --nx-color-zinc-400: oklch(0.66 0.0129 286.066);
  --nx-color-zinc-500: oklch(0.553 0.0138 285.938);
  --nx-color-zinc-600: oklch(0.46 0.0146 285.786);
  --nx-color-zinc-700: oklch(0.385 0.0119 285.805);
  --nx-color-zinc-800: oklch(0.297 0.0055 286.033);
  --nx-color-zinc-900: oklch(0.207 0.0059 285.885);
  --nx-color-zinc-950: oklch(0.118 0.0044 285.823);
  --nx-color-zinc-a50: oklch(0.1408 0.0044 285.823 / 0.0392);
  --nx-color-zinc-a100: oklch(0.1408 0.0044 285.823 / 0.0627);
  --nx-color-zinc-a200: oklch(0.1408 0.0044 285.823 / 0.0941);
  --nx-color-zinc-a300: oklch(0.1408 0.0044 285.823 / 0.1882);
  --nx-color-zinc-a400: oklch(0.1408 0.0044 285.823 / 0.3137);
  --nx-color-zinc-a500: oklch(0.1408 0.0044 285.823 / 0.502);
  --nx-color-zinc-a600: oklch(0.1408 0.0044 285.823 / 0.6275);
  --nx-color-zinc-a700: oklch(0.1408 0.0044 285.823 / 0.7529);
  --nx-color-zinc-a800: oklch(0.1408 0.0044 285.823 / 0.8471);
  --nx-color-zinc-a900: oklch(0.1408 0.0044 285.823 / 0.9098);
  --nx-color-zinc-a950: oklch(0.1408 0.0044 285.823 / 0.9569);
  --nx-color-neutral-50: oklch(0.985 0 0);
  --nx-color-neutral-100: oklch(0.945 0 0);
  --nx-color-neutral-200: oklch(0.87 0 0);
  --nx-color-neutral-300: oklch(0.765 0 0);
  --nx-color-neutral-400: oklch(0.66 0 0);
  --nx-color-neutral-500: oklch(0.553 0 0);
  --nx-color-neutral-600: oklch(0.46 0 0);
  --nx-color-neutral-700: oklch(0.385 0 0);
  --nx-color-neutral-800: oklch(0.297 0 0);
  --nx-color-neutral-900: oklch(0.207 0 0);
  --nx-color-neutral-950: oklch(0.118 0 0);
  --nx-color-neutral-a50: oklch(0.1448 0 0 / 0.0392);
  --nx-color-neutral-a100: oklch(0.1448 0 0 / 0.0627);
  --nx-color-neutral-a200: oklch(0.1448 0 0 / 0.0941);
  --nx-color-neutral-a300: oklch(0.1448 0 0 / 0.1882);
  --nx-color-neutral-a400: oklch(0.1448 0 0 / 0.3137);
  --nx-color-neutral-a500: oklch(0.1448 0 0 / 0.502);
  --nx-color-neutral-a600: oklch(0.1448 0 0 / 0.6275);
  --nx-color-neutral-a700: oklch(0.1448 0 0 / 0.7529);
  --nx-color-neutral-a800: oklch(0.1448 0 0 / 0.8471);
  --nx-color-neutral-a900: oklch(0.1448 0 0 / 0.9098);
  --nx-color-neutral-a950: oklch(0.1448 0 0 / 0.9569);
  --nx-color-stone-50: oklch(0.985 0.005 48.688);
  --nx-color-stone-100: oklch(0.945 0.0086 67.721);
  --nx-color-stone-200: oklch(0.87 0.0123 67.665);
  --nx-color-stone-300: oklch(0.765 0.0207 65.058);
  --nx-color-stone-400: oklch(0.66 0.029 65.464);
  --nx-color-stone-500: oklch(0.553 0.0341 65.402);
  --nx-color-stone-600: oklch(0.46 0.0315 65.075);
  --nx-color-stone-700: oklch(0.385 0.0287 64.698);
  --nx-color-stone-800: oklch(0.297 0.0227 66.763);
  --nx-color-stone-900: oklch(0.207 0.0174 66.613);
  --nx-color-stone-950: oklch(0.118 0.0138 76.346);
  --nx-color-stone-a50: oklch(0.1389 0.0195 56.838 / 0.0392);
  --nx-color-stone-a100: oklch(0.1389 0.0195 56.838 / 0.0627);
  --nx-color-stone-a200: oklch(0.1389 0.0195 56.838 / 0.0941);
  --nx-color-stone-a300: oklch(0.1389 0.0195 56.838 / 0.1882);
  --nx-color-stone-a400: oklch(0.1389 0.0195 56.838 / 0.3137);
  --nx-color-stone-a500: oklch(0.1389 0.0195 56.838 / 0.502);
  --nx-color-stone-a600: oklch(0.1389 0.0195 56.838 / 0.6275);
  --nx-color-stone-a700: oklch(0.1389 0.0195 56.838 / 0.7529);
  --nx-color-stone-a800: oklch(0.1389 0.0195 56.838 / 0.8471);
  --nx-color-stone-a900: oklch(0.1389 0.0195 56.838 / 0.9098);
  --nx-color-stone-a950: oklch(0.1389 0.0195 56.838 / 0.9569);
  --nx-color-red-50: oklch(0.971 0.0176 28.865);
  --nx-color-red-100: oklch(0.936 0.0399 27.342);
  --nx-color-red-200: oklch(0.885 0.0747 27.394);
  --nx-color-red-300: oklch(0.808 0.1333 28.058);
  --nx-color-red-400: oklch(0.704 0.2267 27.842);
  --nx-color-red-500: oklch(0.637 0.2786 27.978);
  --nx-color-red-600: oklch(0.577 0.2523 27.926);
  --nx-color-red-700: oklch(0.505 0.2209 27.946);
  --nx-color-red-800: oklch(0.42 0.1838 28.144);
  --nx-color-red-900: oklch(0.34 0.1487 28.057);
  --nx-color-red-950: oklch(0.25 0.1094 28.309);
  --nx-color-orange-50: oklch(0.98 0.0185 73.684);
  --nx-color-orange-100: oklch(0.955 0.0435 75.164);
  --nx-color-orange-200: oklch(0.91 0.0819 70.697);
  --nx-color-orange-300: oklch(0.84 0.142 66.29);
  --nx-color-orange-400: oklch(0.78 0.1803 55.934);
  --nx-color-orange-500: oklch(0.71 0.2099 47.604);
  --nx-color-orange-600: oklch(0.62 0.2044 41.116);
  --nx-color-orange-700: oklch(0.52 0.1809 38.402);
  --nx-color-orange-800: oklch(0.43 0.153 37.304);
  --nx-color-orange-900: oklch(0.34 0.1188 38.172);
  --nx-color-orange-950: oklch(0.25 0.091 36.259);
  --nx-color-amber-50: oklch(0.985 0.0143 75.368);
  --nx-color-amber-100: oklch(0.96 0.0386 75.273);
  --nx-color-amber-200: oklch(0.92 0.0786 74.981);
  --nx-color-amber-300: oklch(0.87 0.1315 74.99);
  --nx-color-amber-400: oklch(0.84 0.1659 75.338);
  --nx-color-amber-500: oklch(0.77 0.1774 74.873);
  --nx-color-amber-600: oklch(0.68 0.1564 75.243);
  --nx-color-amber-700: oklch(0.57 0.131 75.452);
  --nx-color-amber-800: oklch(0.46 0.1058 75.364);
  --nx-color-amber-900: oklch(0.35 0.0806 74.939);
  --nx-color-amber-950: oklch(0.24 0.0553 74.712);
  --nx-color-white-base: oklch(1 0 0);
  --nx-color-white-a50: oklch(1 0 0 / 0.0392);
  --nx-color-white-a100: oklch(1 0 0 / 0.0627);
  --nx-color-white-a200: oklch(1 0 0 / 0.0941);
  --nx-color-white-a300: oklch(1 0 0 / 0.1882);
  --nx-color-white-a400: oklch(1 0 0 / 0.3137);
  --nx-color-white-a500: oklch(1 0 0 / 0.502);
  --nx-color-white-a600: oklch(1 0 0 / 0.6275);
  --nx-color-white-a700: oklch(1 0 0 / 0.7529);
  --nx-color-white-a800: oklch(1 0 0 / 0.8471);
  --nx-color-white-a900: oklch(1 0 0 / 0.9098);
  --nx-color-white-a950: oklch(1 0 0 / 0.9569);
  --nx-color-black-base: oklch(0.1448 0 0);
  --nx-color-black-a50: oklch(0.1448 0 0 / 0.0392);
  --nx-color-black-a100: oklch(0.1448 0 0 / 0.0627);
  --nx-color-black-a200: oklch(0.1448 0 0 / 0.0941);
  --nx-color-black-a300: oklch(0.1448 0 0 / 0.1882);
  --nx-color-black-a400: oklch(0.1448 0 0 / 0.3137);
  --nx-color-black-a500: oklch(0.1448 0 0 / 0.502);
  --nx-color-black-a600: oklch(0.1448 0 0 / 0.6275);
  --nx-color-black-a700: oklch(0.1448 0 0 / 0.7529);
  --nx-color-black-a800: oklch(0.1448 0 0 / 0.8471);
  --nx-color-black-a900: oklch(0.1448 0 0 / 0.9098);
  --nx-color-black-a950: oklch(0.1448 0 0 / 0.9569);
}
