/* focus: default */

html {
  --nx-focus-color-default: oklch(0.5555 0 0);
  --nx-focus-color-error: oklch(0.5771 0.2152 27.325);
  --nx-focus-geometry-x: 0px;
  --nx-focus-geometry-y: 0px;
  --nx-focus-geometry-blur: 0px;
  --nx-focus-geometry-spread: 2px;
}

html.dark {
  --nx-focus-color-default: oklch(0.7572 0 0);
  --nx-focus-color-error: oklch(0.8077 0.1035 19.571);
}
