/* focus: default */

html {
  --nx-focus-color-default: oklch(0.4991 0.1301 255.276);
  --nx-focus-color-error: oklch(0.5771 0.2152 27.325);
}

html.dark {
  --nx-focus-color-default: oklch(0.8006 0.0751 254.248);
  --nx-focus-color-error: oklch(0.8077 0.1035 19.571);
}
