/* radius: blunt */

:root {
  --radius-base: 16px;
  --radius-sm: 14px;
  --radius-md: 16px;
  --radius-lg: 18px;
  --radius-xl: 20px;
  --radius-2xl: 24px;
  --radius-3xl: 32px;
  --radius-full: 9999px;
}
