/* shadow: vega */

:root {
  --shadow-2xs-layer-1-x: 0px;
  --shadow-2xs-layer-1-y: 1px;
  --shadow-2xs-layer-1-blur: 3px;
  --shadow-2xs-layer-1-spread: 0px;
  --shadow-2xs-layer-1-color: #0000000d;
  --shadow-xs-layer-1-x: 0px;
  --shadow-xs-layer-1-y: 1px;
  --shadow-xs-layer-1-blur: 3px;
  --shadow-xs-layer-1-spread: 0px;
  --shadow-xs-layer-1-color: #0000000d;
  --shadow-sm-layer-1-x: 0px;
  --shadow-sm-layer-1-y: 1px;
  --shadow-sm-layer-1-blur: 3px;
  --shadow-sm-layer-1-spread: 0px;
  --shadow-sm-layer-1-color: #0000001a;
  --shadow-sm-layer-2-x: 0px;
  --shadow-sm-layer-2-y: 1px;
  --shadow-sm-layer-2-blur: 2px;
  --shadow-sm-layer-2-spread: -1px;
  --shadow-sm-layer-2-color: #0000001a;
  --shadow-base-layer-1-x: 0px;
  --shadow-base-layer-1-y: 1px;
  --shadow-base-layer-1-blur: 3px;
  --shadow-base-layer-1-spread: 0px;
  --shadow-base-layer-1-color: #0000001a;
  --shadow-base-layer-2-x: 0px;
  --shadow-base-layer-2-y: 1px;
  --shadow-base-layer-2-blur: 2px;
  --shadow-base-layer-2-spread: -1px;
  --shadow-base-layer-2-color: #0000001a;
  --shadow-md-layer-1-x: 0px;
  --shadow-md-layer-1-y: 1px;
  --shadow-md-layer-1-blur: 3px;
  --shadow-md-layer-1-spread: 0px;
  --shadow-md-layer-1-color: #0000001a;
  --shadow-md-layer-2-x: 0px;
  --shadow-md-layer-2-y: 2px;
  --shadow-md-layer-2-blur: 4px;
  --shadow-md-layer-2-spread: -11px;
  --shadow-md-layer-2-color: #0000001a;
  --shadow-lg-layer-1-x: 0px;
  --shadow-lg-layer-1-y: 1px;
  --shadow-lg-layer-1-blur: 3px;
  --shadow-lg-layer-1-spread: 0px;
  --shadow-lg-layer-1-color: #0000001a;
  --shadow-lg-layer-2-x: 0px;
  --shadow-lg-layer-2-y: 4px;
  --shadow-lg-layer-2-blur: 6px;
  --shadow-lg-layer-2-spread: -1px;
  --shadow-lg-layer-2-color: #0000001a;
  --shadow-xl-layer-1-x: 0px;
  --shadow-xl-layer-1-y: 1px;
  --shadow-xl-layer-1-blur: 3px;
  --shadow-xl-layer-1-spread: 0px;
  --shadow-xl-layer-1-color: #0000001a;
  --shadow-xl-layer-2-x: 0px;
  --shadow-xl-layer-2-y: 8px;
  --shadow-xl-layer-2-blur: 10px;
  --shadow-xl-layer-2-spread: -1px;
  --shadow-xl-layer-2-color: #0000001a;
  --shadow-2xl-layer-1-x: 0px;
  --shadow-2xl-layer-1-y: 1px;
  --shadow-2xl-layer-1-blur: 3px;
  --shadow-2xl-layer-1-spread: 0px;
  --shadow-2xl-layer-1-color: #00000040;
  --shadow-inner-layer-1-x: 0px;
  --shadow-inner-layer-1-y: 2px;
  --shadow-inner-layer-1-blur: 4px;
  --shadow-inner-layer-1-spread: 0px;
  --shadow-inner-layer-1-color: #0000000d;
  --shadow-focus-default-x: 0px;
  --shadow-focus-default-y: 0px;
  --shadow-focus-default-blur: 0px;
  --shadow-focus-default-spread: 2px;
  --shadow-focus-default-color: var(--color-neutral-100);
  --shadow-focus-error-x: 0px;
  --shadow-focus-error-y: 0px;
  --shadow-focus-error-blur: 0px;
  --shadow-focus-error-spread: 2px;
  --shadow-focus-error-color: var(--color-red-100);
}
