/* shadow: lyra */

html {
  --nx-shadow-2xs-layer-1-x: 0px;
  --nx-shadow-2xs-layer-1-y: 1px;
  --nx-shadow-2xs-layer-1-blur: 3px;
  --nx-shadow-2xs-layer-1-spread: 0px;
  --nx-shadow-2xs-layer-1-color: oklch(0 0 0 / 0.051);
  --nx-shadow-xs-layer-1-x: 0px;
  --nx-shadow-xs-layer-1-y: 1px;
  --nx-shadow-xs-layer-1-blur: 3px;
  --nx-shadow-xs-layer-1-spread: 0px;
  --nx-shadow-xs-layer-1-color: oklch(0 0 0 / 0.051);
  --nx-shadow-sm-layer-1-x: 0px;
  --nx-shadow-sm-layer-1-y: 1px;
  --nx-shadow-sm-layer-1-blur: 3px;
  --nx-shadow-sm-layer-1-spread: 0px;
  --nx-shadow-sm-layer-1-color: oklch(0 0 0 / 0.102);
  --nx-shadow-sm-layer-2-x: 0px;
  --nx-shadow-sm-layer-2-y: 2px;
  --nx-shadow-sm-layer-2-blur: 3px;
  --nx-shadow-sm-layer-2-spread: -1px;
  --nx-shadow-sm-layer-2-color: oklch(0 0 0 / 0.102);
  --nx-shadow-base-layer-1-x: 0px;
  --nx-shadow-base-layer-1-y: 1px;
  --nx-shadow-base-layer-1-blur: 3px;
  --nx-shadow-base-layer-1-spread: 0px;
  --nx-shadow-base-layer-1-color: oklch(0 0 0 / 0.102);
  --nx-shadow-base-layer-2-x: 0px;
  --nx-shadow-base-layer-2-y: 2px;
  --nx-shadow-base-layer-2-blur: 3px;
  --nx-shadow-base-layer-2-spread: -1px;
  --nx-shadow-base-layer-2-color: oklch(0 0 0 / 0.102);
  --nx-shadow-md-layer-1-x: 0px;
  --nx-shadow-md-layer-1-y: 1px;
  --nx-shadow-md-layer-1-blur: 3px;
  --nx-shadow-md-layer-1-spread: 0px;
  --nx-shadow-md-layer-1-color: oklch(0 0 0 / 0.102);
  --nx-shadow-md-layer-2-x: 0px;
  --nx-shadow-md-layer-2-y: 3px;
  --nx-shadow-md-layer-2-blur: 5px;
  --nx-shadow-md-layer-2-spread: -1px;
  --nx-shadow-md-layer-2-color: oklch(0 0 0 / 0.102);
  --nx-shadow-lg-layer-1-x: 0px;
  --nx-shadow-lg-layer-1-y: 1px;
  --nx-shadow-lg-layer-1-blur: 3px;
  --nx-shadow-lg-layer-1-spread: 0px;
  --nx-shadow-lg-layer-1-color: oklch(0 0 0 / 0.1216);
  --nx-shadow-lg-layer-2-x: 0px;
  --nx-shadow-lg-layer-2-y: 6px;
  --nx-shadow-lg-layer-2-blur: 9px;
  --nx-shadow-lg-layer-2-spread: -1px;
  --nx-shadow-lg-layer-2-color: oklch(0 0 0 / 0.1216);
  --nx-shadow-xl-layer-1-x: 0px;
  --nx-shadow-xl-layer-1-y: 1px;
  --nx-shadow-xl-layer-1-blur: 3px;
  --nx-shadow-xl-layer-1-spread: 0px;
  --nx-shadow-xl-layer-1-color: oklch(0 0 0 / 0.1216);
  --nx-shadow-xl-layer-2-x: 0px;
  --nx-shadow-xl-layer-2-y: 12px;
  --nx-shadow-xl-layer-2-blur: 16px;
  --nx-shadow-xl-layer-2-spread: -1px;
  --nx-shadow-xl-layer-2-color: oklch(0 0 0 / 0.1216);
  --nx-shadow-2xl-layer-1-x: 0px;
  --nx-shadow-2xl-layer-1-y: 1px;
  --nx-shadow-2xl-layer-1-blur: 3px;
  --nx-shadow-2xl-layer-1-spread: 0px;
  --nx-shadow-2xl-layer-1-color: oklch(0 0 0 / 0.251);
  --nx-shadow-inner-layer-1-x: 0px;
  --nx-shadow-inner-layer-1-y: 2px;
  --nx-shadow-inner-layer-1-blur: 5px;
  --nx-shadow-inner-layer-1-spread: 0px;
  --nx-shadow-inner-layer-1-color: oklch(0 0 0 / 0.051);
}

html.dark {
}
