/* shadow: maia */

html {
  --nx-shadow-2xs-layer-1-x: 0px;
  --nx-shadow-2xs-layer-1-y: 1px;
  --nx-shadow-2xs-layer-1-blur: 3px;
  --nx-shadow-2xs-layer-1-spread: 0px;
  --nx-shadow-2xs-layer-1-color: oklch(0 0 0 / 0.0314);
  --nx-shadow-xs-layer-1-x: 0px;
  --nx-shadow-xs-layer-1-y: 1px;
  --nx-shadow-xs-layer-1-blur: 3px;
  --nx-shadow-xs-layer-1-spread: 0px;
  --nx-shadow-xs-layer-1-color: oklch(0 0 0 / 0.0314);
  --nx-shadow-sm-layer-1-x: 0px;
  --nx-shadow-sm-layer-1-y: 1px;
  --nx-shadow-sm-layer-1-blur: 3px;
  --nx-shadow-sm-layer-1-spread: 0px;
  --nx-shadow-sm-layer-1-color: oklch(0 0 0 / 0.0588);
  --nx-shadow-sm-layer-2-x: 0px;
  --nx-shadow-sm-layer-2-y: 1px;
  --nx-shadow-sm-layer-2-blur: 2px;
  --nx-shadow-sm-layer-2-spread: -1px;
  --nx-shadow-sm-layer-2-color: oklch(0 0 0 / 0.051);
  --nx-shadow-base-layer-1-x: 0px;
  --nx-shadow-base-layer-1-y: 1px;
  --nx-shadow-base-layer-1-blur: 3px;
  --nx-shadow-base-layer-1-spread: 0px;
  --nx-shadow-base-layer-1-color: oklch(0 0 0 / 0.0588);
  --nx-shadow-base-layer-2-x: 0px;
  --nx-shadow-base-layer-2-y: 1px;
  --nx-shadow-base-layer-2-blur: 2px;
  --nx-shadow-base-layer-2-spread: -1px;
  --nx-shadow-base-layer-2-color: oklch(0 0 0 / 0.0588);
  --nx-shadow-md-layer-1-x: 0px;
  --nx-shadow-md-layer-1-y: 1px;
  --nx-shadow-md-layer-1-blur: 3px;
  --nx-shadow-md-layer-1-spread: 0px;
  --nx-shadow-md-layer-1-color: oklch(0 0 0 / 0.0588);
  --nx-shadow-md-layer-2-x: 0px;
  --nx-shadow-md-layer-2-y: 2px;
  --nx-shadow-md-layer-2-blur: 4px;
  --nx-shadow-md-layer-2-spread: -1px;
  --nx-shadow-md-layer-2-color: oklch(0 0 0 / 0.0588);
  --nx-shadow-lg-layer-1-x: 0px;
  --nx-shadow-lg-layer-1-y: 1px;
  --nx-shadow-lg-layer-1-blur: 3px;
  --nx-shadow-lg-layer-1-spread: 0px;
  --nx-shadow-lg-layer-1-color: oklch(0 0 0 / 0.051);
  --nx-shadow-lg-layer-2-x: 0px;
  --nx-shadow-lg-layer-2-y: 4px;
  --nx-shadow-lg-layer-2-blur: 6px;
  --nx-shadow-lg-layer-2-spread: -1px;
  --nx-shadow-lg-layer-2-color: oklch(0 0 0 / 0.0784);
  --nx-shadow-xl-layer-1-x: 0px;
  --nx-shadow-xl-layer-1-y: 1px;
  --nx-shadow-xl-layer-1-blur: 3px;
  --nx-shadow-xl-layer-1-spread: 0px;
  --nx-shadow-xl-layer-1-color: oklch(0 0 0 / 0.0784);
  --nx-shadow-xl-layer-2-x: 0px;
  --nx-shadow-xl-layer-2-y: 8px;
  --nx-shadow-xl-layer-2-blur: 10px;
  --nx-shadow-xl-layer-2-spread: -1px;
  --nx-shadow-xl-layer-2-color: oklch(0 0 0 / 0.0784);
  --nx-shadow-2xl-layer-1-x: 0px;
  --nx-shadow-2xl-layer-1-y: 1px;
  --nx-shadow-2xl-layer-1-blur: 3px;
  --nx-shadow-2xl-layer-1-spread: 0px;
  --nx-shadow-2xl-layer-1-color: oklch(0 0 0 / 0.149);
  --nx-shadow-inner-layer-1-x: 0px;
  --nx-shadow-inner-layer-1-y: 1px;
  --nx-shadow-inner-layer-1-blur: 3px;
  --nx-shadow-inner-layer-1-spread: 0px;
  --nx-shadow-inner-layer-1-color: oklch(0 0 0 / 0.0392);
}

html.dark {
}
