/* shadow: lyra */

:root {
  --nx-shadow-2xs-layer-1-x: 0px;
  --nx-shadow-2xs-layer-1-y: 1px;
  --nx-shadow-2xs-layer-1-blur: 3px;
  --nx-shadow-2xs-layer-1-spread: 0px;
  --nx-shadow-2xs-layer-1-color: #0000000d;
  --nx-shadow-xs-layer-1-x: 0px;
  --nx-shadow-xs-layer-1-y: 1px;
  --nx-shadow-xs-layer-1-blur: 3px;
  --nx-shadow-xs-layer-1-spread: 0px;
  --nx-shadow-xs-layer-1-color: #0000000d;
  --nx-shadow-sm-layer-1-x: 0px;
  --nx-shadow-sm-layer-1-y: 1px;
  --nx-shadow-sm-layer-1-blur: 3px;
  --nx-shadow-sm-layer-1-spread: 0px;
  --nx-shadow-sm-layer-1-color: #0000001a;
  --nx-shadow-sm-layer-2-x: 0px;
  --nx-shadow-sm-layer-2-y: 2px;
  --nx-shadow-sm-layer-2-blur: 3px;
  --nx-shadow-sm-layer-2-spread: -1px;
  --nx-shadow-sm-layer-2-color: #0000001a;
  --nx-shadow-base-layer-1-x: 0px;
  --nx-shadow-base-layer-1-y: 1px;
  --nx-shadow-base-layer-1-blur: 3px;
  --nx-shadow-base-layer-1-spread: 0px;
  --nx-shadow-base-layer-1-color: #0000001a;
  --nx-shadow-base-layer-2-x: 0px;
  --nx-shadow-base-layer-2-y: 2px;
  --nx-shadow-base-layer-2-blur: 3px;
  --nx-shadow-base-layer-2-spread: -1px;
  --nx-shadow-base-layer-2-color: #0000001a;
  --nx-shadow-md-layer-1-x: 0px;
  --nx-shadow-md-layer-1-y: 1px;
  --nx-shadow-md-layer-1-blur: 3px;
  --nx-shadow-md-layer-1-spread: 0px;
  --nx-shadow-md-layer-1-color: #0000001a;
  --nx-shadow-md-layer-2-x: 0px;
  --nx-shadow-md-layer-2-y: 3px;
  --nx-shadow-md-layer-2-blur: 5px;
  --nx-shadow-md-layer-2-spread: -1px;
  --nx-shadow-md-layer-2-color: #0000001a;
  --nx-shadow-lg-layer-1-x: 0px;
  --nx-shadow-lg-layer-1-y: 1px;
  --nx-shadow-lg-layer-1-blur: 3px;
  --nx-shadow-lg-layer-1-spread: 0px;
  --nx-shadow-lg-layer-1-color: #0000001f;
  --nx-shadow-lg-layer-2-x: 0px;
  --nx-shadow-lg-layer-2-y: 6px;
  --nx-shadow-lg-layer-2-blur: 9px;
  --nx-shadow-lg-layer-2-spread: -1px;
  --nx-shadow-lg-layer-2-color: #0000001f;
  --nx-shadow-xl-layer-1-x: 0px;
  --nx-shadow-xl-layer-1-y: 1px;
  --nx-shadow-xl-layer-1-blur: 3px;
  --nx-shadow-xl-layer-1-spread: 0px;
  --nx-shadow-xl-layer-1-color: #0000001f;
  --nx-shadow-xl-layer-2-x: 0px;
  --nx-shadow-xl-layer-2-y: 12px;
  --nx-shadow-xl-layer-2-blur: 16px;
  --nx-shadow-xl-layer-2-spread: -1px;
  --nx-shadow-xl-layer-2-color: #0000001f;
  --nx-shadow-2xl-layer-1-x: 0px;
  --nx-shadow-2xl-layer-1-y: 1px;
  --nx-shadow-2xl-layer-1-blur: 3px;
  --nx-shadow-2xl-layer-1-spread: 0px;
  --nx-shadow-2xl-layer-1-color: #00000040;
  --nx-shadow-inner-layer-1-x: 0px;
  --nx-shadow-inner-layer-1-y: 2px;
  --nx-shadow-inner-layer-1-blur: 5px;
  --nx-shadow-inner-layer-1-spread: 0px;
  --nx-shadow-inner-layer-1-color: #0000000d;
  --nx-shadow-focus-default-x: 0px;
  --nx-shadow-focus-default-y: 0px;
  --nx-shadow-focus-default-blur: 0px;
  --nx-shadow-focus-default-spread: 2px;
  --nx-shadow-focus-default-color: var(--nx-color-neutral-200);
  --nx-shadow-focus-error-x: 0px;
  --nx-shadow-focus-error-y: 0px;
  --nx-shadow-focus-error-blur: 0px;
  --nx-shadow-focus-error-spread: 2px;
  --nx-shadow-focus-error-color: var(--nx-color-red-100);
}
