/* shadow: nova */

html {
  --nx-shadow-2xs-layer-1-x: 0px;
  --nx-shadow-2xs-layer-1-y: 1px;
  --nx-shadow-2xs-layer-1-blur: 3px;
  --nx-shadow-2xs-layer-1-spread: 0px;
  --nx-shadow-2xs-layer-1-color: oklch(0 0 0 / 0.0784);
  --nx-shadow-xs-layer-1-x: 0px;
  --nx-shadow-xs-layer-1-y: 1px;
  --nx-shadow-xs-layer-1-blur: 3px;
  --nx-shadow-xs-layer-1-spread: 0px;
  --nx-shadow-xs-layer-1-color: oklch(0 0 0 / 0.0784);
  --nx-shadow-sm-layer-1-x: 0px;
  --nx-shadow-sm-layer-1-y: 1px;
  --nx-shadow-sm-layer-1-blur: 3px;
  --nx-shadow-sm-layer-1-spread: 0px;
  --nx-shadow-sm-layer-1-color: oklch(0 0 0 / 0.1216);
  --nx-shadow-sm-layer-2-x: 0px;
  --nx-shadow-sm-layer-2-y: 2px;
  --nx-shadow-sm-layer-2-blur: 4px;
  --nx-shadow-sm-layer-2-spread: -1px;
  --nx-shadow-sm-layer-2-color: oklch(0 0 0 / 0.1216);
  --nx-shadow-base-layer-1-x: 0px;
  --nx-shadow-base-layer-1-y: 1px;
  --nx-shadow-base-layer-1-blur: 3px;
  --nx-shadow-base-layer-1-spread: 0px;
  --nx-shadow-base-layer-1-color: oklch(0 0 0 / 0.1216);
  --nx-shadow-base-layer-2-x: 0px;
  --nx-shadow-base-layer-2-y: 3px;
  --nx-shadow-base-layer-2-blur: 6px;
  --nx-shadow-base-layer-2-spread: -1px;
  --nx-shadow-base-layer-2-color: oklch(0 0 0 / 0.1216);
  --nx-shadow-md-layer-1-x: 0px;
  --nx-shadow-md-layer-1-y: 1px;
  --nx-shadow-md-layer-1-blur: 3px;
  --nx-shadow-md-layer-1-spread: 0px;
  --nx-shadow-md-layer-1-color: oklch(0 0 0 / 0.1216);
  --nx-shadow-md-layer-2-x: 0px;
  --nx-shadow-md-layer-2-y: 4px;
  --nx-shadow-md-layer-2-blur: 8px;
  --nx-shadow-md-layer-2-spread: -1px;
  --nx-shadow-md-layer-2-color: oklch(0 0 0 / 0.1216);
  --nx-shadow-lg-layer-1-x: 0px;
  --nx-shadow-lg-layer-1-y: 1px;
  --nx-shadow-lg-layer-1-blur: 3px;
  --nx-shadow-lg-layer-1-spread: 0px;
  --nx-shadow-lg-layer-1-color: oklch(0 0 0 / 0.149);
  --nx-shadow-lg-layer-2-x: 0px;
  --nx-shadow-lg-layer-2-y: 8px;
  --nx-shadow-lg-layer-2-blur: 16px;
  --nx-shadow-lg-layer-2-spread: -1px;
  --nx-shadow-lg-layer-2-color: oklch(0 0 0 / 0.149);
  --nx-shadow-xl-layer-1-x: 0px;
  --nx-shadow-xl-layer-1-y: 1px;
  --nx-shadow-xl-layer-1-blur: 3px;
  --nx-shadow-xl-layer-1-spread: 0px;
  --nx-shadow-xl-layer-1-color: oklch(0 0 0 / 0.1804);
  --nx-shadow-xl-layer-2-x: 0px;
  --nx-shadow-xl-layer-2-y: 16px;
  --nx-shadow-xl-layer-2-blur: 24px;
  --nx-shadow-xl-layer-2-spread: -1px;
  --nx-shadow-xl-layer-2-color: oklch(0 0 0 / 0.1804);
  --nx-shadow-2xl-layer-1-x: 0px;
  --nx-shadow-2xl-layer-1-y: 1px;
  --nx-shadow-2xl-layer-1-blur: 3px;
  --nx-shadow-2xl-layer-1-spread: 0px;
  --nx-shadow-2xl-layer-1-color: oklch(0 0 0 / 0.302);
  --nx-shadow-inner-layer-1-x: 0px;
  --nx-shadow-inner-layer-1-y: 2px;
  --nx-shadow-inner-layer-1-blur: 6px;
  --nx-shadow-inner-layer-1-spread: 0px;
  --nx-shadow-inner-layer-1-color: oklch(0 0 0 / 0.0784);
  --nx-shadow-focus-default-x: 0px;
  --nx-shadow-focus-default-y: 0px;
  --nx-shadow-focus-default-blur: 0px;
  --nx-shadow-focus-default-spread: 2px;
  --nx-shadow-focus-default-color: oklch(0.9219 0 0 / 0.502);
  --nx-shadow-focus-error-x: 0px;
  --nx-shadow-focus-error-y: 0px;
  --nx-shadow-focus-error-blur: 0px;
  --nx-shadow-focus-error-spread: 2px;
  --nx-shadow-focus-error-color: oklch(0.8845 0.0593 18.334 / 0.502);
}

html.dark {
  --nx-shadow-2xs-layer-1-x: 0px;
  --nx-shadow-2xs-layer-1-y: 1px;
  --nx-shadow-2xs-layer-1-blur: 3px;
  --nx-shadow-2xs-layer-1-spread: 0px;
  --nx-shadow-2xs-layer-1-color: oklch(0 0 0 / 0.0784);
  --nx-shadow-xs-layer-1-x: 0px;
  --nx-shadow-xs-layer-1-y: 1px;
  --nx-shadow-xs-layer-1-blur: 3px;
  --nx-shadow-xs-layer-1-spread: 0px;
  --nx-shadow-xs-layer-1-color: oklch(0 0 0 / 0.0784);
  --nx-shadow-sm-layer-1-x: 0px;
  --nx-shadow-sm-layer-1-y: 1px;
  --nx-shadow-sm-layer-1-blur: 3px;
  --nx-shadow-sm-layer-1-spread: 0px;
  --nx-shadow-sm-layer-1-color: oklch(0 0 0 / 0.1216);
  --nx-shadow-sm-layer-2-x: 0px;
  --nx-shadow-sm-layer-2-y: 2px;
  --nx-shadow-sm-layer-2-blur: 4px;
  --nx-shadow-sm-layer-2-spread: -1px;
  --nx-shadow-sm-layer-2-color: oklch(0 0 0 / 0.1216);
  --nx-shadow-base-layer-1-x: 0px;
  --nx-shadow-base-layer-1-y: 1px;
  --nx-shadow-base-layer-1-blur: 3px;
  --nx-shadow-base-layer-1-spread: 0px;
  --nx-shadow-base-layer-1-color: oklch(0 0 0 / 0.1216);
  --nx-shadow-base-layer-2-x: 0px;
  --nx-shadow-base-layer-2-y: 3px;
  --nx-shadow-base-layer-2-blur: 6px;
  --nx-shadow-base-layer-2-spread: -1px;
  --nx-shadow-base-layer-2-color: oklch(0 0 0 / 0.1216);
  --nx-shadow-md-layer-1-x: 0px;
  --nx-shadow-md-layer-1-y: 1px;
  --nx-shadow-md-layer-1-blur: 3px;
  --nx-shadow-md-layer-1-spread: 0px;
  --nx-shadow-md-layer-1-color: oklch(0 0 0 / 0.1216);
  --nx-shadow-md-layer-2-x: 0px;
  --nx-shadow-md-layer-2-y: 4px;
  --nx-shadow-md-layer-2-blur: 8px;
  --nx-shadow-md-layer-2-spread: -1px;
  --nx-shadow-md-layer-2-color: oklch(0 0 0 / 0.1216);
  --nx-shadow-lg-layer-1-x: 0px;
  --nx-shadow-lg-layer-1-y: 1px;
  --nx-shadow-lg-layer-1-blur: 3px;
  --nx-shadow-lg-layer-1-spread: 0px;
  --nx-shadow-lg-layer-1-color: oklch(0 0 0 / 0.149);
  --nx-shadow-lg-layer-2-x: 0px;
  --nx-shadow-lg-layer-2-y: 8px;
  --nx-shadow-lg-layer-2-blur: 16px;
  --nx-shadow-lg-layer-2-spread: -1px;
  --nx-shadow-lg-layer-2-color: oklch(0 0 0 / 0.149);
  --nx-shadow-xl-layer-1-x: 0px;
  --nx-shadow-xl-layer-1-y: 1px;
  --nx-shadow-xl-layer-1-blur: 3px;
  --nx-shadow-xl-layer-1-spread: 0px;
  --nx-shadow-xl-layer-1-color: oklch(0 0 0 / 0.1804);
  --nx-shadow-xl-layer-2-x: 0px;
  --nx-shadow-xl-layer-2-y: 16px;
  --nx-shadow-xl-layer-2-blur: 24px;
  --nx-shadow-xl-layer-2-spread: -1px;
  --nx-shadow-xl-layer-2-color: oklch(0 0 0 / 0.1804);
  --nx-shadow-2xl-layer-1-x: 0px;
  --nx-shadow-2xl-layer-1-y: 1px;
  --nx-shadow-2xl-layer-1-blur: 3px;
  --nx-shadow-2xl-layer-1-spread: 0px;
  --nx-shadow-2xl-layer-1-color: oklch(0 0 0 / 0.302);
  --nx-shadow-inner-layer-1-x: 0px;
  --nx-shadow-inner-layer-1-y: 2px;
  --nx-shadow-inner-layer-1-blur: 6px;
  --nx-shadow-inner-layer-1-spread: 0px;
  --nx-shadow-inner-layer-1-color: oklch(0 0 0 / 0.0784);
  --nx-shadow-focus-default-x: 0px;
  --nx-shadow-focus-default-y: 0px;
  --nx-shadow-focus-default-blur: 0px;
  --nx-shadow-focus-default-spread: 2px;
  --nx-shadow-focus-default-color: oklch(0.9219 0 0 / 0.2);
  --nx-shadow-focus-error-x: 0px;
  --nx-shadow-focus-error-y: 0px;
  --nx-shadow-focus-error-blur: 0px;
  --nx-shadow-focus-error-spread: 2px;
  --nx-shadow-focus-error-color: oklch(0.4437 0.1613 26.899 / 0.502);
}
