/* shadow: mira */

:root {
  --2xs-layer-1-x: 0rem;
  --2xs-layer-1-y: 1rem;
  --2xs-layer-1-blur: 3rem;
  --2xs-layer-1-spread: 0rem;
  --2xs-layer-1-color: #0000000a;
  --xs-layer-1-x: 0rem;
  --xs-layer-1-y: 1rem;
  --xs-layer-1-blur: 3rem;
  --xs-layer-1-spread: 0rem;
  --xs-layer-1-color: #0000000a;
  --sm-layer-1-x: 0rem;
  --sm-layer-1-y: 1rem;
  --sm-layer-1-blur: 3rem;
  --sm-layer-1-spread: 0rem;
  --sm-layer-1-color: #0000000d;
  --sm-layer-2-x: 0rem;
  --sm-layer-2-y: 1rem;
  --sm-layer-2-blur: 2rem;
  --sm-layer-2-spread: -1rem;
  --sm-layer-2-color: #00000014;
  --base-layer-1-x: 0rem;
  --base-layer-1-y: 1rem;
  --base-layer-1-blur: 3rem;
  --base-layer-1-spread: 0rem;
  --base-layer-1-color: #00000014;
  --base-layer-2-x: 0rem;
  --base-layer-2-y: 1rem;
  --base-layer-2-blur: 2rem;
  --base-layer-2-spread: 0rem;
  --base-layer-2-color: #00000014;
  --md-layer-1-x: 0rem;
  --md-layer-1-y: 1rem;
  --md-layer-1-blur: 3rem;
  --md-layer-1-spread: 0rem;
  --md-layer-1-color: #00000014;
  --md-layer-2-x: 0rem;
  --md-layer-2-y: 2rem;
  --md-layer-2-blur: 4rem;
  --md-layer-2-spread: -1rem;
  --md-layer-2-color: #00000014;
  --lg-layer-1-x: 0rem;
  --lg-layer-1-y: 1rem;
  --lg-layer-1-blur: 3rem;
  --lg-layer-1-spread: 0rem;
  --lg-layer-1-color: #0000001a;
  --lg-layer-2-x: 0rem;
  --lg-layer-2-y: 5rem;
  --lg-layer-2-blur: 8rem;
  --lg-layer-2-spread: -1rem;
  --lg-layer-2-color: #0000001a;
  --xl-layer-1-x: 0rem;
  --xl-layer-1-y: 1rem;
  --xl-layer-1-blur: 3rem;
  --xl-layer-1-spread: 0rem;
  --xl-layer-1-color: #0000001a;
  --xl-layer-2-x: 0rem;
  --xl-layer-2-y: 10rem;
  --xl-layer-2-blur: 14rem;
  --xl-layer-2-spread: -1rem;
  --xl-layer-2-color: #0000001a;
  --2xl-layer-1-x: 0rem;
  --2xl-layer-1-y: 1rem;
  --2xl-layer-1-blur: 4rem;
  --2xl-layer-1-spread: 0rem;
  --2xl-layer-1-color: #00000038;
  --inner-layer-1-x: 0rem;
  --inner-layer-1-y: 1rem;
  --inner-layer-1-blur: 4rem;
  --inner-layer-1-spread: 0rem;
  --inner-layer-1-color: #0000000a;
  --focus-default-x: 0rem;
  --focus-default-y: 0rem;
  --focus-default-blur: 0rem;
  --focus-default-spread: 2rem;
  --focus-default-color: var(--neutral-100);
  --focus-error-x: 0rem;
  --focus-error-y: 0rem;
  --focus-error-blur: 0rem;
  --focus-error-spread: 2rem;
  --focus-error-color: var(--red-100);
}
