/* size: nova */

:root {
  --size-0: 0px;
  --size-1: 4px;
  --size-2: 8px;
  --size-3: 10px;
  --size-4: 14px;
  --size-5: 18px;
  --size-6: 22px;
  --size-7: 26px;
  --size-8: 30px;
  --size-9: 34px;
  --size-10: 38px;
  --size-11: 42px;
  --size-12: 46px;
  --size-14: 52px;
  --size-16: 60px;
  --size-20: 76px;
  --size-24: 92px;
  --size-28: 108px;
  --size-32: 124px;
  --size-36: 140px;
  --size-40: 156px;
  --size-44: 172px;
  --size-48: 188px;
  --size-52: 204px;
  --size-56: 220px;
  --size-60: 236px;
  --size-64: 252px;
  --size-72: 284px;
  --size-80: 316px;
  --size-96: 380px;
  --size-0_5: 2px;
  --size-1_5: 6px;
  --size-2_5: 9px;
  --size-3_5: 12px;
}
