/* size: maia */

:root {
  --size-size-0: 0px;
  --size-size-0_5: 2px;
  --size-size-1: 4px;
  --size-size-1_5: 6px;
  --size-size-2: 8px;
  --size-size-2_5: 11px;
  --size-size-3: 14px;
  --size-size-3_5: 16px;
  --size-size-4: 18px;
  --size-size-5: 22px;
  --size-size-6: 28px;
  --size-size-7: 32px;
  --size-size-8: 36px;
  --size-size-9: 40px;
  --size-size-10: 44px;
  --size-size-11: 48px;
  --size-size-12: 52px;
  --size-size-14: 60px;
  --size-size-16: 68px;
  --size-size-20: 84px;
  --size-size-24: 100px;
  --size-size-28: 116px;
  --size-size-32: 132px;
  --size-size-36: 148px;
  --size-size-40: 164px;
  --size-size-44: 180px;
  --size-size-48: 196px;
  --size-size-52: 212px;
  --size-size-56: 228px;
  --size-size-60: 244px;
  --size-size-64: 260px;
  --size-size-72: 292px;
  --size-size-80: 324px;
  --size-size-96: 388px;
}
