/* size: vega */

:root {
  --nx-size-0: 0px;
  --nx-size-1: 4px;
  --nx-size-2: 8px;
  --nx-size-3: 12px;
  --nx-size-4: 16px;
  --nx-size-5: 20px;
  --nx-size-6: 24px;
  --nx-size-7: 28px;
  --nx-size-8: 32px;
  --nx-size-9: 36px;
  --nx-size-10: 40px;
  --nx-size-11: 44px;
  --nx-size-12: 48px;
  --nx-size-14: 56px;
  --nx-size-16: 64px;
  --nx-size-20: 80px;
  --nx-size-24: 96px;
  --nx-size-28: 112px;
  --nx-size-32: 128px;
  --nx-size-36: 144px;
  --nx-size-40: 160px;
  --nx-size-44: 176px;
  --nx-size-48: 192px;
  --nx-size-52: 208px;
  --nx-size-56: 224px;
  --nx-size-60: 240px;
  --nx-size-64: 256px;
  --nx-size-72: 288px;
  --nx-size-80: 320px;
  --nx-size-96: 384px;
  --nx-size-0_5: 2px;
  --nx-size-1_5: 6px;
  --nx-size-2_5: 10px;
  --nx-size-3_5: 14px;
}
