/* size: maia */

:root {
  --size-0: 0rem;
  --size-0,5: 2rem;
  --size-1: 4rem;
  --size-1,5: 6rem;
  --size-2: 8rem;
  --size-2,5: 11rem;
  --size-3: 14rem;
  --size-3,5: 16rem;
  --size-4: 18rem;
  --size-5: 22rem;
  --size-6: 28rem;
  --size-7: 32rem;
  --size-8: 36rem;
  --size-9: 40rem;
  --size-10: 44rem;
  --size-11: 48rem;
  --size-12: 52rem;
  --size-14: 60rem;
  --size-16: 68rem;
  --size-20: 84rem;
  --size-24: 100rem;
  --size-28: 116rem;
  --size-32: 132rem;
  --size-36: 148rem;
  --size-40: 164rem;
  --size-44: 180rem;
  --size-48: 196rem;
  --size-52: 212rem;
  --size-56: 228rem;
  --size-60: 244rem;
  --size-64: 260rem;
  --size-72: 292rem;
  --size-80: 324rem;
  --size-96: 388rem;
}
