/* size: nova */

:root {
  --nx-size-0: 0px;
  --nx-size-1: 4px;
  --nx-size-2: 8px;
  --nx-size-3: 10px;
  --nx-size-4: 14px;
  --nx-size-5: 18px;
  --nx-size-6: 22px;
  --nx-size-7: 26px;
  --nx-size-8: 30px;
  --nx-size-9: 34px;
  --nx-size-10: 38px;
  --nx-size-11: 42px;
  --nx-size-12: 46px;
  --nx-size-14: 52px;
  --nx-size-16: 60px;
  --nx-size-20: 76px;
  --nx-size-24: 92px;
  --nx-size-28: 108px;
  --nx-size-32: 124px;
  --nx-size-36: 140px;
  --nx-size-40: 156px;
  --nx-size-44: 172px;
  --nx-size-48: 188px;
  --nx-size-52: 204px;
  --nx-size-56: 220px;
  --nx-size-60: 236px;
  --nx-size-64: 252px;
  --nx-size-72: 284px;
  --nx-size-80: 316px;
  --nx-size-96: 380px;
  --nx-size-0_5: 2px;
  --nx-size-1_5: 6px;
  --nx-size-2_5: 9px;
  --nx-size-3_5: 12px;
}
