/* spacing */

:root {
  --spacing-0: var(--nx-size-0);
  --spacing-0_5: var(--nx-size-0_5);
  --spacing-1: var(--nx-size-1);
  --spacing-1_5: var(--nx-size-1_5);
  --spacing-2: var(--nx-size-2);
  --spacing-2_5: var(--nx-size-2_5);
  --spacing-3: var(--nx-size-3);
  --spacing-3_5: var(--nx-size-3_5);
  --spacing-4: var(--nx-size-4);
  --spacing-5: var(--nx-size-5);
  --spacing-6: var(--nx-size-6);
  --spacing-7: var(--nx-size-7);
  --spacing-8: var(--nx-size-8);
  --spacing-9: var(--nx-size-9);
  --spacing-10: var(--nx-size-10);
  --spacing-11: var(--nx-size-11);
  --spacing-12: var(--nx-size-12);
  --spacing-14: var(--nx-size-14);
  --spacing-16: var(--nx-size-16);
  --spacing-20: var(--nx-size-20);
  --spacing-24: var(--nx-size-24);
  --spacing-28: var(--nx-size-28);
  --spacing-32: var(--nx-size-32);
  --spacing-36: var(--nx-size-36);
  --spacing-40: var(--nx-size-40);
  --spacing-44: var(--nx-size-44);
  --spacing-48: var(--nx-size-48);
  --spacing-52: var(--nx-size-52);
  --spacing-56: var(--nx-size-56);
  --spacing-60: var(--nx-size-60);
  --spacing-64: var(--nx-size-64);
  --spacing-72: var(--nx-size-72);
  --spacing-80: var(--nx-size-80);
  --spacing-96: var(--nx-size-96);
}
