/* Typography Utilities */

@utility typography-display-large {
  font-family: var(--nx-typography-family-font-sans);
  font-size: var(--nx-typography-size-6xl);
  font-weight: var(--nx-typography-weight-light);
  line-height: var(--nx-typography-line-height-6xl);
  letter-spacing: var(--nx-typography-letterspacing-tight);
  font-optical-sizing: auto;
}

@utility typography-display-medium {
  font-family: var(--nx-typography-family-font-sans);
  font-size: var(--nx-typography-size-5xl);
  font-weight: var(--nx-typography-weight-normal);
  line-height: var(--nx-typography-line-height-5xl);
  letter-spacing: var(--nx-typography-letterspacing-tight);
  font-optical-sizing: auto;
}

@utility typography-heading-xlarge {
  font-family: var(--nx-typography-family-font-sans);
  font-size: var(--nx-typography-size-4xl);
  font-weight: var(--nx-typography-weight-semibold);
  line-height: var(--nx-typography-line-height-4xl);
  letter-spacing: var(--nx-typography-letterspacing-tight);
  font-optical-sizing: auto;
}

@utility typography-heading-large {
  font-family: var(--nx-typography-family-font-sans);
  font-size: var(--nx-typography-size-3xl);
  font-weight: var(--nx-typography-weight-semibold);
  line-height: var(--nx-typography-line-height-3xl);
  letter-spacing: var(--nx-typography-letterspacing-tight);
  font-optical-sizing: auto;
}

@utility typography-heading-medium {
  font-family: var(--nx-typography-family-font-sans);
  font-size: var(--nx-typography-size-2xl);
  font-weight: var(--nx-typography-weight-semibold);
  line-height: var(--nx-typography-line-height-2xl);
  letter-spacing: var(--nx-typography-letterspacing-normal);
  font-optical-sizing: auto;
}

@utility typography-heading-small {
  font-family: var(--nx-typography-family-font-sans);
  font-size: var(--nx-typography-size-xl);
  font-weight: var(--nx-typography-weight-semibold);
  line-height: var(--nx-typography-line-height-xl);
  letter-spacing: var(--nx-typography-letterspacing-normal);
  font-optical-sizing: auto;
}

@utility typography-heading-xsmall {
  font-family: var(--nx-typography-family-font-sans);
  font-size: var(--nx-typography-size-lg);
  font-weight: var(--nx-typography-weight-semibold);
  line-height: var(--nx-typography-line-height-lg);
  letter-spacing: var(--nx-typography-letterspacing-normal);
  font-optical-sizing: auto;
}

@utility typography-body-large {
  font-family: var(--nx-typography-family-font-sans);
  font-size: var(--nx-typography-size-lg);
  font-weight: var(--nx-typography-weight-normal);
  line-height: var(--nx-typography-line-height-lg);
  letter-spacing: var(--nx-typography-letterspacing-normal);
  font-optical-sizing: auto;
  text-wrap: pretty;
}

@utility typography-body-default {
  font-family: var(--nx-typography-family-font-sans);
  font-size: var(--nx-typography-size-base);
  font-weight: var(--nx-typography-weight-normal);
  line-height: var(--nx-typography-line-height-base);
  letter-spacing: var(--nx-typography-letterspacing-normal);
  font-optical-sizing: auto;
  text-wrap: pretty;
}

@utility typography-body-small {
  font-family: var(--nx-typography-family-font-sans);
  font-size: var(--nx-typography-size-sm);
  font-weight: var(--nx-typography-weight-normal);
  line-height: var(--nx-typography-line-height-sm);
  letter-spacing: var(--nx-typography-letterspacing-normal);
  font-optical-sizing: auto;
  text-wrap: pretty;
}

@utility typography-body-xsmall {
  font-family: var(--nx-typography-family-font-sans);
  font-size: var(--nx-typography-size-xs);
  font-weight: var(--nx-typography-weight-normal);
  line-height: var(--nx-typography-line-height-xs);
  letter-spacing: var(--nx-typography-letterspacing-normal);
  font-optical-sizing: auto;
  text-wrap: pretty;
}

@utility typography-label-large {
  font-family: var(--nx-typography-family-font-sans);
  font-size: var(--nx-typography-size-sm);
  font-weight: var(--nx-typography-weight-semibold);
  line-height: var(--nx-typography-line-height-sm);
  letter-spacing: var(--nx-typography-letterspacing-normal);
  font-optical-sizing: auto;
}

@utility typography-label-default {
  font-family: var(--nx-typography-family-font-sans);
  font-size: var(--nx-typography-size-sm);
  font-weight: var(--nx-typography-weight-medium);
  line-height: var(--nx-typography-line-height-sm);
  letter-spacing: var(--nx-typography-letterspacing-normal);
  font-optical-sizing: auto;
}

@utility typography-label-small {
  font-family: var(--nx-typography-family-font-sans);
  font-size: var(--nx-typography-size-xs);
  font-weight: var(--nx-typography-weight-medium);
  line-height: var(--nx-typography-line-height-xs);
  letter-spacing: var(--nx-typography-letterspacing-normal);
  font-optical-sizing: auto;
}

@utility typography-label-caps {
  font-family: var(--nx-typography-family-font-sans);
  font-size: var(--nx-typography-size-xs);
  font-weight: var(--nx-typography-weight-semibold);
  line-height: var(--nx-typography-line-height-xs);
  letter-spacing: var(--nx-typography-letterspacing-wider);
  font-optical-sizing: auto;
}

@utility typography-code-block {
  font-family: var(--nx-typography-family-font-mono);
  font-size: var(--nx-typography-size-sm);
  font-weight: var(--nx-typography-weight-normal);
  line-height: var(--nx-typography-line-height-sm);
  letter-spacing: 0px;
  font-optical-sizing: auto;
}

@utility typography-code-inline {
  font-family: var(--nx-typography-family-font-mono);
  font-size: var(--nx-typography-size-sm);
  font-weight: var(--nx-typography-weight-semibold);
  line-height: normal;
  letter-spacing: 0px;
  font-optical-sizing: auto;
}
