/* typography: lyra */

:root {
  --typography-family-font-sans: Inter;
  --typography-family-font-senrif: Georgia;
  --typography-family-font-mono: JetBrains Mono;
  --typography-size-xs: 12px;
  --typography-size-sm: 14px;
  --typography-size-base: 16px;
  --typography-size-lg: 18px;
  --typography-size-xl: 20px;
  --typography-size-2xl: 24px;
  --typography-size-3xl: 30px;
  --typography-size-4xl: 36px;
  --typography-size-5xl: 48px;
  --typography-size-6xl: 60px;
  --typography-size-7xl: 72px;
  --typography-size-8xl: 96px;
  --typography-size-9xl: 128px;
  --typography-weight-thin: 100;
  --typography-weight-extralight: 200;
  --typography-weight-light: 300;
  --typography-weight-normal: 400;
  --typography-weight-medium: 500;
  --typography-weight-semibold: 600;
  --typography-weight-bold: 700;
  --typography-weight-extrabold: 800;
  --typography-weight-black: 900;
  --typography-line-height-xs: 18px;
  --typography-line-height-sm: 22px;
  --typography-line-height-base: 26px;
  --typography-line-height-lg: 30px;
  --typography-line-height-xl: 32px;
  --typography-line-height-2xl: 36px;
  --typography-line-height-3xl: 40px;
  --typography-line-height-4xl: 44px;
  --typography-line-height-5xl: 56px;
  --typography-line-height-6xl: 68px;
  --typography-line-height-7xl: 80px;
  --typography-line-height-8xl: 104px;
  --typography-line-height-9xl: 136px;
  --typography-letterspacing-tighter: -0.800000011920929px;
  --typography-letterspacing-tight: -0.4000000059604645px;
  --typography-letterspacing-normal: 0px;
  --typography-letterspacing-wide: 0.4000000059604645px;
  --typography-letterspacing-wider: 0.800000011920929px;
  --typography-letterspacing-widest: 1.600000023841858px;
}
