/* typography: maia */

:root {
  --typography-family-font-sans: Inter;
  --typography-family-font-senrif: Georgia;
  --typography-family-font-mono: JetBrains Mono;
  --typography-size-xs: 13px;
  --typography-size-sm: 15px;
  --typography-size-base: 17px;
  --typography-size-lg: 19px;
  --typography-size-xl: 21px;
  --typography-size-2xl: 25px;
  --typography-size-3xl: 31px;
  --typography-size-4xl: 37px;
  --typography-size-5xl: 49px;
  --typography-size-6xl: 61px;
  --typography-size-7xl: 73px;
  --typography-size-8xl: 97px;
  --typography-size-9xl: 129px;
  --typography-weight-thin: 100;
  --typography-weight-extralight: 200;
  --typography-weight-light: 300;
  --typography-weight-normal: 400;
  --typography-weight-medium: 500;
  --typography-weight-semibold: 600;
  --typography-weight-bold: 700;
  --typography-weight-extrabold: 800;
  --typography-weight-black: 900;
  --typography-line-height-xs: 18px;
  --typography-line-height-sm: 22px;
  --typography-line-height-base: 26px;
  --typography-line-height-lg: 30px;
  --typography-line-height-xl: 30px;
  --typography-line-height-2xl: 34px;
  --typography-line-height-3xl: 38px;
  --typography-line-height-4xl: 42px;
  --typography-line-height-5xl: 50px;
  --typography-line-height-6xl: 62px;
  --typography-line-height-7xl: 74px;
  --typography-line-height-8xl: 98px;
  --typography-line-height-9xl: 130px;
  --typography-letterspacing-tighter: -0.8999999761581421px;
  --typography-letterspacing-tight: -0.44999998807907104px;
  --typography-letterspacing-normal: 0px;
  --typography-letterspacing-wide: 0.44999998807907104px;
  --typography-letterspacing-wider: 0.8999999761581421px;
  --typography-letterspacing-widest: 1.7999999523162842px;
}
