/* brands: blue */

html {
  --nx-color-primary-background: var(--nx-color-blue-600);
  --nx-color-primary-background-active: var(--nx-color-blue-800);
  --nx-color-primary-foreground: var(--nx-color-white-base);
  --nx-color-primary-background-hover: var(--nx-color-blue-700);
  --nx-color-primary-disabled: var(--nx-color-blue-300);
  --nx-color-primary-subtle: var(--nx-color-blue-50);
  --nx-color-primary-subtle-foreground: var(--nx-color-blue-600);
  --nx-color-primary-subtle-hover: var(--nx-color-blue-100);
  --nx-color-primary-subtle-active: var(--nx-color-blue-200);
  --nx-color-secondary-background: var(--nx-color-neutral-100);
  --nx-color-secondary-foreground: var(--nx-color-neutral-900);
  --nx-color-secondary-background-hover: var(--nx-color-neutral-200);
  --nx-color-secondary-background-active: var(--nx-color-neutral-300);
  --nx-color-secondary-disabled: var(--nx-color-neutral-50);
  --nx-color-secondary-subtle: var(--nx-color-neutral-100);
  --nx-color-secondary-subtle-foreground: var(--nx-color-neutral-600);
  --nx-color-secondary-subtle-hover: var(--nx-color-neutral-200);
  --nx-color-secondary-subtle-active: var(--nx-color-neutral-300);
  --nx-color-border-primary: var(--nx-color-blue-200);
  --nx-color-border-primary-active: var(--nx-color-blue-400);
}

html.dark {
  --nx-color-primary-background: var(--nx-color-blue-600);
  --nx-color-primary-background-active: var(--nx-color-blue-800);
  --nx-color-primary-foreground: var(--nx-color-white-base);
  --nx-color-primary-background-hover: var(--nx-color-blue-700);
  --nx-color-primary-disabled: var(--nx-color-blue-950);
  --nx-color-primary-subtle: var(--nx-color-blue-950);
  --nx-color-primary-subtle-foreground: var(--nx-color-blue-300);
  --nx-color-primary-subtle-hover: var(--nx-color-blue-900);
  --nx-color-primary-subtle-active: var(--nx-color-blue-800);
  --nx-color-secondary-background: var(--nx-color-neutral-900);
  --nx-color-secondary-foreground: var(--nx-color-neutral-100);
  --nx-color-secondary-background-hover: var(--nx-color-neutral-700);
  --nx-color-secondary-background-active: var(--nx-color-neutral-600);
  --nx-color-secondary-disabled: var(--nx-color-neutral-950);
  --nx-color-secondary-subtle: var(--nx-color-neutral-800);
  --nx-color-secondary-subtle-foreground: var(--nx-color-neutral-200);
  --nx-color-secondary-subtle-hover: var(--nx-color-neutral-700);
  --nx-color-secondary-subtle-active: var(--nx-color-neutral-600);
  --nx-color-border-primary: var(--nx-color-blue-700);
  --nx-color-border-primary-active: var(--nx-color-blue-500);
}
