/* focus: default */

html {
  --nx-focus-color-default: oklch(0.3791 0.1378 265.522);
  --nx-focus-color-error: oklch(0.3958 0.1331 25.723);
}

html.dark {
  --nx-focus-color-default: oklch(0.8006 0.0751 254.248);
  --nx-focus-color-error: oklch(0.8077 0.1035 19.571);
}
