/* radius: subtle */

:root {
  --nx-radius-base: 4px;
  --nx-radius-sm: 2px;
  --nx-radius-md: 4px;
  --nx-radius-lg: 6px;
  --nx-radius-xl: 8px;
  --nx-radius-2xl: 12px;
  --nx-radius-3xl: 20px;
  --nx-radius-full: 9999px;
}
