/* radius: sharp */

:root {
  --nx-radius-base: 0px;
  --nx-radius-sm: 0px;
  --nx-radius-md: 0px;
  --nx-radius-lg: 0px;
  --nx-radius-xl: 0px;
  --nx-radius-2xl: 0px;
  --nx-radius-3xl: 0px;
  --nx-radius-full: 9999px;
}
