/* focus: default */

html {
  --nx-focus-focus-color-default: oklch(0.5555 0 0);
  --nx-focus-focus-color-error: oklch(0.5771 0.2152 27.325);
}

html.dark {
  --nx-focus-focus-color-default: oklch(0.7572 0 0);
  --nx-focus-focus-color-error: oklch(0.7106 0.1661 22.216);
}
