/* radius: extra-round */

:root {
  --nx-radius-base: 16px;
  --nx-radius-sm: 14px;
  --nx-radius-md: 16px;
  --nx-radius-lg: 18px;
  --nx-radius-xl: 20px;
  --nx-radius-2xl: 24px;
  --nx-radius-3xl: 32px;
  --nx-radius-full: 9999px;
}
