/* radius: smooth */

:root {
  --nx-radius-base: 8px;
  --nx-radius-sm: 6px;
  --nx-radius-md: 8px;
  --nx-radius-lg: 10px;
  --nx-radius-xl: 12px;
  --nx-radius-2xl: 16px;
  --nx-radius-3xl: 24px;
  --nx-radius-full: 9999px;
}
